@import 'mixins';

/*@include declare-font-face('name', 'file_name', 400);

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @include svg-font-face('name', 'file_name', 400);
}*/

// responsive fonts + line-heights + padding & margin !!!
$font-base: 16px;
/// Strips the unit from a number.
@function strip-units($value) {
  @return ($value / ($value * 0 + 1));
}
// Convert pixels to rems
// eg. for a relational value of 12px write rem(12)
// Assumes $font-base is the font-size of <html>
@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  $base: $font-base;
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}


$container: 1140px;

$color: #ff4e50;
$black: #333;

$font: 'Arial', sans-serif;

* {
  margin: 0;
  padding: 0;
  min-width: 1px;
  outline: 0 none;
  box-sizing: border-box;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
*:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
html, body {height: 100%; margin: 0}

hr {
  height: 0;
  border: 0;
  font-size: 0;
  clear: both;
  display: block;
  overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, nav, section, summary {display: block}
ol, ul {list-style: none;}
h1, h2, h3, h4, h5 {font-weight: normal;}
mark {background: none;}
button {background: rgba(255, 255, 255, 0); border: medium none;}
table {border-spacing: 0;}
td {vertical-align: middle;}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  color: $color;
  outline: 0 none;
  text-decoration: none;
  @include transition();
  &:hover {
    outline: 0 none;
    text-decoration: none;
  }
  > img {border: 0}
}

input, select, textarea {
  @include transition();
  @include border-radius(0);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0 none;
  width: 100%;
}
input[type="submit"], input[type="button"] {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  width: auto;
}
input, textarea {@include placeholder {color: #999;}}

// selection
::-moz-selection {color: #fff; background: $color;}
::selection {color: #fff; background: $color;}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

// fullframe video
.fullframe {height: 0;margin: 0;overflow: hidden;padding-bottom: 56.5%;position: relative;z-index: 0;
  > {
    iframe, object, embed {height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: -1}
  }
}

.alignleft, .al {float: left}
.alignright, .ar {float: right}
.aligncenter, .ac {margin-left: auto;margin-right: auto}

.valign {
  display: inline-block;
  vertical-align: middle;
  max-width: 94%
}
.vfix {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0
}

.wp-video {
  margin-bottom: .75em;
  width: auto !important;
  .mejs-video {
    width: auto!important;
    height: auto!important;
  }
}

.flex {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
}

.content {
  img {
    &.alignright { margin-left: 1.5em }
    &.alignleft { margin-right: 1.5em }
    &.alignnone {
      display: inline-block;
      vertical-align: baseline;
      margin: 0;
    }
  }
}

//cf7
div.wpcf7 {
  .wpcf7-form-control-wrap {
    display: block !important;
    margin-bottom: 20px;
    clear: both;
  }
  .wpcf7-not-valid-tip {
    background: #fff;
    border: 1px solid #FF0000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    font-family: $font;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
  }
  .wpcf7-response-output {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    font-family: $font;
    line-height: 20px;
    padding: 5px 20px;
    text-align: center;
    &.wpcf7-validation-errors {
      background:#FF5F5F;
      color:#fff
    }
    &.wpcf7-mail-sent-ng {
      background:#1091ae;
      color:#fff
    }
    &.wpcf7-mail-sent-ok {
      background:#16A085;
      color:#fff
    }
  }
  .ajax-loader {
    display: none;
  }
  input:not([type="submit"]), textarea {
    width: 100%;
    border: 1px solid #086195;
    padding: 0 12px;
    display: block;
    height: 49px;
    @include border-radius(5px);
    margin: 0 auto 20px;
    font: 400 16px $font;
    @include placeholder {color: #999;}
    &:focus {
      background: rgba(8, 97, 149, 0.08);
    }
  }
  textarea {
    resize: none;
    overflow: auto;
    height: 150px;
    padding: 10px;
  }
}

//select
.selbel_w {
  position: relative;
  display: block;
  width: 100%;
  font: 400 14px/40px $font;
  height: 40px;
  select {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    + span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      color: #555;
      padding: 0 10px;
      @include border-radius(5px);
      border: 1px solid #eee;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 5px 0 5px;
        border-color: #555 transparent transparent transparent;
        position: absolute;
        right: 13px;
        top: 16px;
      }
      &.err {
        border-color: #ef4036
      }
    }
    option {
      padding: 5px
    }
  }
}


// menu button
$line-thickness: 5px; // The thickness of the button lines, also need to improve -> &:after {top: ?px} !
$line-position: 21px; // The spacing between lines, also need to improve -> &:after {top: ?px} !
$button-color: $color; // The color of button

#menuopen {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  width: 25px;
  height: 27px;
  cursor: pointer;
  z-index: 2000;
  @include transition(all, .35s, ease);
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $line-thickness;
    box-shadow: 0 $line-thickness 0 0 $button-color, 0 $line-position 0 0 $button-color;
    -webkit-box-shadow: 0 $line-thickness 0 0 $button-color, 0 $line-position 0 0 $button-color;
    -moz-box-shadow: 0 $line-thickness 0 0 $button-color, 0 $line-position 0 0 $button-color;
    /*@include border-radius(3px);*/
    @include transition(all, .35s, ease);
  }
  &:after {
    content: '';
    position: absolute;
    top: 8px; // Need to improve if both $line-thickness and $line-position changed !
    height: $line-thickness;
    @include box-shadow(0 $line-thickness 0 0 $button-color);
    /*@include border-radius(3px);*/
    @include transition(all, .35s, ease);
  }
  &.active:before, &.active:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $button-color;
    @include box-shadow(none);
    /*@include border-radius(3px);*/
  }
  &.active:before {
    @include backface-visibility();
    @include transform(rotate(-45deg) translate(-7px, 7px));
  }
  &.active:after {
    @include backface-visibility();
    @include transform(rotate(45deg) translate(7px, 7px));
  }
}
// menu button


// fontastic
// fontastic
