@import 'elements/mixins';

@media screen and (max-width: 1151px) {
  html {font-size: 27px}
}


@media screen and (max-width: 1024px) {
  html {font-size: 24px}
  #menuopen {display: block}

  header {
    position: relative;
    > .container {position: static}
  }

  #menu {
    width: 50%;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0;
    border-top: 1px solid $color;
    z-index: 2;
    @include transform(translateX(101%));
    &.active {@include transform(translateX(0))}
    ul {
      margin: 0;
      background: #fff;
    }
    li {
      display: block;
      line-height: 1.5;
      margin: 0;
      text-align: center;
      border-bottom: 1px solid #ccc;
      &.menu-item-has-children {
        > a {border-bottom: 1px solid transparent}
        &.active > a {border-bottom-color: #ccc}
        > a + span {
          position: absolute;
          top: 0;
          right: 0;
          width: 54px;
          height: 42px;
          cursor: pointer;
          z-index: 99;
          &:after, &:before {
            content: '';
            position: absolute;
            @include transform(translate(-50%,-50%));
            top: 50%;
            left: 50%;
            background: $color;
            width: 22px;
            height: 4px;
            @include transition();
          }
          &:before {
            width: 4px;
            height: 22px;
          }
          &.open {
            &:after {@include transform(translate(-50%,-50%) rotate(180deg))}
            &:before {@include transform(translate(-50%,-50%) rotate(-90deg))}
          }
        }
        &.current-menu-item > a + span {
          &:after, &:before {background: #fff}
        }
      }
      &.current-menu-item {
        > a {
          color: #fff;
          background: $color;
        }
      }
    }
    a {
      display: block;
      padding: 10px 0 8px;
      &:hover {color: $default}
    }
    .sub-menu {
      display: none;
      position: static;
      @include transition(none,0s);
      opacity: 1;
      visibility: visible;
      @include transform(translateY(0));
      top: auto;
      left: auto;
      right: auto;
      padding: 0;
      margin: 0;
      box-shadow: none;
      li {
        margin: 0;
        background: #f8f8f8;
        &:last-of-type {border: none}
      }
      a {padding: 10px 0 8px}
    }
  }
}


@media screen and (max-width: 767px) {
  html {font-size: 21px}
  #menu {width: 67%}
}


@media screen and (max-width: 640px) {}


@media screen and (max-width: 480px) {
  html {font-size: 18px}
  #menu {width: 100%}
}
