$fb: 16px;
$cl: #22bbb4;
$tx: #1c2c39;
$border: #e8e8e8;
$shadow: rgba($tx, 0.33);
$ff: 'Roboto', sans-serif;
$ff2: 'Playfair Display', sans-serif;
$icons: 'icons';

@import 'parts/00_mixins';
@import 'parts/01_reset';
@import 'parts/02_classes';
@import 'parts/03_ui_kit';
@import 'parts/04_apps';
@import 'parts/05_plugins';
@import 'parts/06_header';
@import 'parts/07_footer';

@import 'templates/00_tpl_parts';
@import 'templates/01_front_page';