$fb: 30px;
$fp: 16px;
$cl: #22bbb4;
$tx: #232323;
$ff: 'Open Sans', sans-serif;

@import 'parts/00_mixins';
@import 'parts/01_reset';
@import 'parts/02_classes';


// UI kit
.button,
input[type="submit"],
input[type="button"] {
  @extend %ani;
  display: inline-block;
  vertical-align: middle;
  font: 400 16px/1.2 $ff;
  color: #fff;
  background: $cl;
  padding: rem(7) rem(27);
  box-shadow: inset 0 0 0 2px $cl;
  text-align: center;
  cursor: pointer;
  @include hover {
    color: $cl;
    background: #fff;
  }
  &[disabled],
  &.is_disabled {pointer-events: none}
  & + .button,
  & + input[type="submit"],
  & + input[type="button"] {margin-left: 7px}
}
.link {
  box-shadow: 0 2px $cl;
  @include hover {box-shadow: 0 0 $cl}
}

.content {
  p, li {
    a {@extend .link}
  }
}

.page404 {padding: rem(60) 0}


@import 'parts/03_apps';
@import 'parts/04_header';
@import 'parts/05_footer';

@import 'templates/00_front_page';