$fb: 30px;
$cl: #33d3ff;
$cl2: #29c662;
$tx: #212121;
$ft: 'Open Sans', sans-serif;
$ft2: 'Noto', $ft;

@import 'parts/00_mixins';
@import 'parts/01_reset';
@import 'parts/02_base';
@import 'parts/03_libs';
//@import 'parts/04_woo';

html {
  font: 400 #{$fb}/1.6 $ft;
  background: #f5f5f5;
  @include rwd(1151) {font-size: 27px}
  @include rwd(1024) {font-size: 24px}
  @include rwd(767) {font-size: 21px}
  @include rwd(480) {font-size: 18px}
}
body {
  @include flexbox();
  @include flex-direction(column);
  min-height: 100vh;
  max-width: 2048px;
  margin: 0 auto;
  background: #fff;
  font-size: 16px;
  color: $tx;
}
#main {
  @include flex(1, 0, auto);
  overflow: hidden;
}
.container {
  width: 1140px;
  max-width: 94%;
  margin: 0 auto;
  position: relative;
}

.content {}

.button {
  &:hover {}
}

header {
  @include rwd(1024) {
    position: relative;
    > .container {position: static}
  }
}

#menu {
  @extend .ani;
  li {
    &.current-menu-item > a {}
    &.menu-item-has-children {
      position: relative;
      &:before {
        //content: '';
        //background: #000;
        position: absolute;
        left: -25px;
        right: -155px;
        top: 0;
        height: 40px;
        z-index: -1;
        display: none;
      }
      &:hover {
        &:before {display: block}
        > .sub-menu {
          opacity: 1;
          visibility: visible;
          @include transform(translateY(0));
        }
      }
    }
  }
  .sub-menu {
    display: block;
    background: #fff;
    position: absolute;
    right: -130px;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    @include transform(translateY(10px));
    margin-top: 10px;
    @extend .ani;
    z-index: 3;
    li {
      display: block;
      border-bottom: 1px solid #ccc;
    }
    a {
      display: block;
      padding: 10px 15px;
    }
  }
  @include rwd(1024) {
    width: 50%;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0;
    border-top: 1px solid $cl;
    z-index: 2;
    @include transform(translateX(101%));
    &.active {@include transform(translateX(0))}
    ul {
      margin: 0;
      background: #fff;
    }
    li {
      display: block;
      line-height: 1.5;
      margin: 0;
      text-align: center;
      border-bottom: 1px solid #ccc;
      &.menu-item-has-children {
        > a {border-bottom: 1px solid transparent}
        &.active > a {border-bottom-color: #ccc}
        > a + span {
          position: absolute;
          top: 0;
          right: 0;
          width: 54px;
          height: 42px;
          cursor: pointer;
          z-index: 99;
          &:after, &:before {
            content: '';
            position: absolute;
            @include transform(translate(-50%,-50%));
            top: 50%;
            left: 50%;
            background: $cl;
            width: 22px;
            height: 4px;
            @include transition();
          }
          &:before {
            width: 4px;
            height: 22px;
          }
          &.open {
            &:after {@include transform(translate(-50%,-50%) rotate(180deg))}
            &:before {@include transform(translate(-50%,-50%) rotate(-90deg))}
          }
        }
        &.current-menu-item > a + span {
          &:after, &:before {background: #fff}
        }
      }
      &.current-menu-item {
        > a {
          color: #fff;
          background: $cl;
        }
      }
    }
    a {
      display: block;
      padding: 10px 0 8px;
      &:hover {color: $tx}
    }
    .sub-menu {
      display: none;
      position: static;
      @include transition(none,0s);
      opacity: 1;
      visibility: visible;
      @include transform(translateY(0));
      top: auto;
      left: auto;
      right: auto;
      padding: 0;
      margin: 0;
      box-shadow: none;
      li {
        margin: 0;
        background: #f8f8f8;
        &:last-of-type {border: none}
      }
      a {padding: 10px 0 8px}
    }
  }
  @include rwd(767) {width: 67%}
  @include rwd(480) {width: 100%}
}


footer {
  padding: 30px 0;
  background: #bbb;
}

.page404 {padding: rem(100) 0}
