/* WooCommerce Custom Styles */
@import 'elements/mixins';

// responsive fonts + line-heights + padding & margin !!!
$font-base: 16px;
/// Strips the unit from a number.
@function strip-units($value) {
  @return ($value / ($value * 0 + 1));
}
// Convert pixels to rems
// eg. for a relational value of 12px write rem(12)
// Assumes $font-base is the font-size of <html>
@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  $base: $font-base;
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}

$container: 1140px;
$color: #ff4e50;
$black: #333;
$orange: orange;
$green: green;
$font: 'Arial', sans-serif;

.products {
  @include flex-grid(4, 2.4%);
  margin-top: 30px;
  .product {
    position: relative;
    background: #000;
    @include transition(all, 0.5s, ease);
    > a:first-of-type {
      display: block;
      position: relative;
      & * {
        color: #fff;
        @include transition();
      }
      img {
        @include box-shadow(0 0 0 rgba(#fff, 0));
      }
      .onsale {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        font-size: 50px;
        line-height: 0;
        .i-burst-sale:before {
          color: $orange;
        }
      }
      h3 {
        @include center(true, false);
        top: -10px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        opacity: 0;
      }
      .price {
        position: absolute;
        @include transform(translate(-50%, -50%));
        left: 50%;
        top: 85%;
        opacity: 0;
        del {
          display: block;
          color: #ff5548;
          position: absolute;
          top: -17px;
          .amount {
            font-size: 12px;
            color: #ff5548;
          }
        }
        ins {
          text-decoration: unset;
        }
        .amount {
          font-size: 20px;
          padding: 0 5px;
        }
      }
    }
    &:hover {
      > a:first-of-type {
        img {
          opacity: 0.17;
        }
        h3 {
          top: 20px;
          opacity: 1;
        }
        .price {
          top: 50%;
          opacity: 1;
        }
      }
      .button {
        opacity: 1;
      }
      .added_to_cart {
        i.i-cart-arrow-down {
          &:before {
            left: auto;
            @include transform(translateX(0));
          }
        }
      }
      a.i-cart-arrow-down {
        &:before {
          left: auto;
          @include transform(translateX(0));
        }
      }
      [class^="i-cart"] {
        &:before {
          left: 50%;
          @include transform(translateX(-50%));
        }
      }
      .star-rating {
        opacity: 1;
      }
    }
    .button, .added_to_cart {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15px;
      text-align: center;
    }
    .button {
      opacity: 0;
    }
    .added_to_cart {
      font-size: 0;
      line-height: 0;
      height: 0;
      i.i-cart-arrow-down {
        position: absolute;
        top: -244px;
        right: 47px;
        color: $color;
        opacity: 1;
        &:before {
          position: absolute;
          left: auto;
          bottom: auto;
          @include transition();
        }
        &:hover:before {
          color: $orange;
        }
      }
    }
    [class^="i-cart"] {
      color: $color;
      font-size: 36px;
      &:before {
        position: absolute;
        left: 0;
        bottom: 15px;
        @include transition(all, 0.5s, cubic-bezier(.4,.36,.14,1.7));
      }
      &:hover {
        color: $orange;
      }
    }
    a.i-cart-arrow-down {
      position: absolute;
      top: 56px;
      right: 46.5px;
      cursor: pointer;
    }
    .star-rating {
      position: absolute;
      left: 8px;
      bottom: 6px;
      font-size: rem(13);
      color: #fff;
      opacity: 0;
      strong {
        font-size: rem(14);
        border-bottom: 1px solid $color;
      }
    }
  }
}

.related_products_swipe {
  > .products {
    display: block;
    width: 100%;
    margin: 0;
    > * {
      margin: 0 auto;
      width: 100%;
    }
  }
  h2 {
    margin-bottom: rem(30);
  }
}

.product-thumbnail, .products .product {
  a {
    padding-bottom: 0;
    &:after {display: none;}
  }
}

[class^="woocommerce"] {
  input:not([type="submit"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"]), textarea {
    background: rgba($color, 0.1);
    color: $color;
    width: 100%;
    border: 0 none;
    border-bottom: 2px solid $color;
    display: block;
    height: 42px;
    font: 400 15px $font;
    @include border-radius(0);
    @include placeholder {
      color: $color;
      font-size: 14px;
    }
    margin-bottom: 15px;
    padding: 0 8px;
    &:focus {
      border-bottom-color: $orange;
      background: rgba($orange, 0.1);
    }
  }
  textarea {
    resize: none;
    overflow: hidden;
    min-height: 100px;
    line-height: 1.5;
    padding: 8px 8px 0.1em;
    @include transition(none, 0s);
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: rem(1);
    text-transform: uppercase;
  }
  input:-webkit-autofill {
    background-color: rgba($color, 0.1) !important;
  }
}

.filtering {
  float: left;
  width: 240px;
  margin-bottom: rem(25);
  .filters {
    @include flex-grid(2, 2%);
    a {
      display: block;
      border: 2px solid $color;
      color: $color;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      padding: 4px 10px;
      margin-bottom: 0.5em;
      &:after {
        display: none;
      }
      &:hover, &.filtered {
        color: $orange;
        border-color: $orange;
      }
    }
  }
}

.woocommerce-result-count {
  display: none;
  + .woocommerce-ordering {
    float: right;
    width: 390px;
    max-width: 100%;
  }
}

.grid_item {
  @include transform(scale(1));
  visibility: visible;
  opacity: 1;
  &.fff {
    @include transform(scale(0));
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}

.form-row {
  input[type="submit"] {
    margin-top: 20px;
  }
  abbr {
    border: 0;
    color: #e74c3c;
    font-size: 16px;
    line-height: 1;
  }
  input#billing_state + span {
    display: none;
  }
}

.shop_table {
  width: 100%;
  tr {
    th {
      border: none;
      padding: 10px;
      font: 400 #{rem(13)} $font;
      text-transform: uppercase;
      &.product-name, &.product-total {
        font-size: rem(16);
      }
    }
    td {
      border: none;
      padding: 10px;
      text-align: center;
      p {padding: 0}
      &.product-thumbnail {
        padding: 10px;
        width: 110px;
        a, img {display: block}
        img {
          width: 110px;
        }
      }
      &.product-quantity {
        text-align: center;
        width: 120px;
        position: relative;
        input.button {
          display: block;
          position: absolute;
          font-size: 9px;
          padding: 3px;
          margin: 10px 0 0;
          opacity: 0;
          visibility: hidden;
          &.active {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &.actions {
        border: 0;
        text-align: left;
        padding: 10px 0;
        .coupon {
          @include flexbox();
          @include flex-wrap(wrap);
          margin: rem(10) 0 rem(30);
          label {
            @include flex-basis(100%);
          }
          #coupon_code {
            @include flex-basis(300px);
            margin-bottom: 0;
            height: 40px;
          }
          .button {
            margin: 0 0 0 20px;
          }
        }
      }
    }
    .product-remove {
      padding: 0 10px;
      width: 20px;
      a.remove {
        color: $orange;
        display: block;
        font-size: 23px;
        line-height: 1;
        width: 21px;
        &:after {
          display: none;
        }
        &:hover {
          color: $color;
        }
      }
    }
    &.order-total {
      background: rgba($green, 0.1);
    }
    &.cart_item {
      background: rgba($green, 0.1);
      border-bottom: 5px solid #fff;
    }
  }
}

.quantity {
  position: relative;
  width: 102px;
  display: inline-block;
  vertical-align: middle;
  /*input[type="button"] {
    background: #56a89f;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    &.minus {
      bottom: 0;
      top: auto;
    }
  }*/
  input[type="number"] {
    text-align: center;
    margin-bottom: 0 !important;
    -moz-appearance:textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.woocommerce-info {
  font-size: rem(15);
  margin-bottom: 15px;
  + .login {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    margin-bottom: 30px;
    > * {
      @include flex-basis(100%);
      @include align-self(flex-end);
    }
    .form-row-first, .form-row-last {
      @include flex-basis(48%);
    }
    > p:first-child {
      padding-bottom: 15px;
      font-size: rem(14);
    }
    .form-row {
      .button {
        margin-right: 15px;
      }
      .custom_checkbox {
        display: inline-block !important;
      }
    }
  }
  + .checkout_coupon {
    @include flexbox();
    @include align-items(center);
    .form-row-first {
      @include flex-basis(300px);
    }
    .clear {
      display: none;
    }
    #coupon_code {
      margin-bottom: 0;
      height: 40px;
    }
    .button {
      margin: 0 0 0 20px;
    }
  }
}

.cart-collaterals {
  .cart_totals {
    margin: rem(20) 0;
    table {
      table-layout: fixed;
      max-width: 100%;
      width: 415px;
    }
  }
}

.wc-proceed-to-checkout {
  margin-top: rem(40);
}

#customer_details {
  margin: rem(30) 0 0;
  @include flexbox();
  @include justify-content(space-between);
  .col-1 {
    @include flex-basis(59%);
  }
  .col-2 {
    @include flex-basis(38.6%);
  }
}

#customer_login {
  @include flexbox();
  @include justify-content(space-between);
  > div {
    @include flex-basis(48.5%);
  }
  .register {
    label {
      small {
        float: left;
        display: inline-block;
        text-transform: none;
        margin: 10px 0 15px;
      }
    }
  }
  .login {
    .button {
      margin-right: 15px;
    }
    .custom_checkbox {
      display: inline-block !important;
    }
  }
}

.lost_reset_password {
  > p:first-child {
    margin-bottom: 20px;
  }
}

.edit-account {
  @include flexbox();
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  > * {
    @include flex-basis(100%);
  }
  .form-row-first, .form-row-last {
    @include flex-basis(48.5%);
  }
  .clear {
    display: none;
  }
  label {
    small {
      float: left;
      display: inline-block;
      text-transform: none;
      margin: 10px 0 15px;
    }
  }
  fieldset {
    border: none;
    legend {
      display: block;
      margin: 10px 0 15px;
    }
  }
  input[type="submit"] {
    margin-top: 20px;
  }
}

.woocommerce-billing-fields {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  > h3 {
    @include flex-basis(100%);
  }
  .form-row {
    @include flex-basis(48%);
    @include align-self(flex-end);
    &.create-account {
      @include flex-basis(100%);
    }
  }
  #billing_city_field {
    @include flex-basis(100%);
  }
  .clear {
    display: none;
  }
}

#billing_country_field {
  display: none;
}

.create-account {
  > p:first-child {
    padding-bottom: 15px;
    font-size: rem(14);
  }
}
.lost_password {
  font-size: rem(14);
}
.myaccount_user {
  margin-bottom: 25px;
}
.myaccount_address {
  margin-bottom: 10px;
}

#order_review_heading {
  margin-top: 15px;
}

.my_account_orders {
  margin-bottom: 40px;
  tr.order {
    background: rgba($green, 0.1);
    border-bottom: 5px solid #fff;
  }
}

section.title {
  h3 {
    font-size: rem(16);
    padding-bottom: rem(20);
  }
}

.address {
  address {
    margin-top: rem(15);
  }
}

.for_flex_address_form {
  form[method="post"] {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    > * {
      @include flex-basis(32%);
      @include align-self(flex-end);
    }
    .clear {
      display: none;
    }
    h3 {
      @include flex-basis(100%);
    }
    #billing_city_field {
      @include flex-basis(66%);
      @include order(1);
    }
    .button {
      margin-bottom: 17px;
    }
  }
}

.order-info {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: rem(20);
}

.order_details {
  margin-bottom: rem(30);
  tr.order_item {
    background: rgba($green, 0.1);
    border-bottom: 5px solid #fff;
  }
  tfoot {
    tr:nth-of-type(2) {
      background: rgba($green, 0.1);
    }
  }
}

.customer_details {
  margin-bottom: rem(30);
  tr {
    background: rgba($green, 0.1);
    border-bottom: 5px solid #fff;
  }
}

.formargin {
  margin-bottom: rem(30);
}

.custom_checkbox {
  margin: 10px 0 20px !important;
  color: $color;
  span{
    position: relative;
    display: inline-block;
    padding-left: 25px;
    cursor: pointer;
    &:before{
      content: '';
      position: absolute;
      @include transform(translateY(-50%));
      top: 45%;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid $color;
      background: rgba($color, 0);
      @include transition();
    }
    &:after{
      content: '\2713';
      position: absolute;
      @include transform(translateY(-50%));
      top: 45%;
      left: 3px;
      font-size: 13px;
      font-weight: 700;
      color: #fff;
      opacity: 0;
      @include transition();
    }
  }
  input{
    display: none;
    &:checked + span{
      &:after{
        opacity: 1;
      }
      &:before {
        background: $color;
      }
    }
  }
}




form.cart {
  display: inline-block;
  vertical-align: top;
}

.woocommerce-error {
  margin: 0;
  li {
    background: #fff;
    border-bottom: 1px solid #ef4036;
    color: #ef4036 !important;
    display: block;
    font: 400 #{rem(15)}/#{rem(38)} $font !important;
    list-style: none !important;
    margin: 20px 0;
    text-align: center;
    padding: 5px !important;
    &::before {
      display: none !important;
    }
  }
}

.woocommerce-message {
  border-bottom: 2px solid #ccc;
  margin: rem(10) 0 rem(30);
  padding: rem(15) 0;
  .button {
    //display: none;
    margin-right: 15px;
    padding-bottom: 0;
    //position: relative;
    height: 42px;
    width: 42px;
    display: inline-block;
    vertical-align: -14px;
    //font-size: 0;
    &:after {
      display: none;
    }
    /*&:before {
      content: '\61';
      font-family: $lovely;
      font-size: 36px;
      position: absolute;
      left: 0;
      top: 0;
    }*/
    span {
      display: none;
    }
    i {
      font-size: 42px;
      line-height: 1;
      @include transition();
    }
    &:hover i {
      color: $orange;
    }
  }
}

#payment {
  margin-top: 30px;
  .payment_methods {
    margin: 0 0 10px;
    li {
      list-style: none;
      padding: 0;
      &:before {
        display: none
      }
      input {
        display: none;
        & + label {
          background: #eee;
          color: #4f91cd;
          cursor: pointer;
          display: inline-block;
          font: 500 15px/40px $font;
          height: 40px;
          letter-spacing: 1.666px;
          margin-bottom: 20px;
          max-width: 100%;
          padding: 0 20px;
          text-decoration: none;
          &:hover {
            background: #3979b2;
            color: #fff
          }
          img {
            float: right;
            position: relative;
            right: -10px;
            top: 8px
          }
        }
        &:checked {
          & + label {
            background: #4f91cd;
            color: #fff
          }
        }
      }
    }
  }
}


article {
  .summary {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    .onsale {
      position: absolute;
      z-index: 1;
    }
    .for_images {
      @include flex-basis(42%);
      position: relative;
      z-index: 0;
      a.i-cart-arrow-down, .onsale {
        line-height: 1;
        position: absolute;
        top: 4px;
        z-index: 1;
        @include transition();
      }
      a.i-cart-arrow-down {
        right: 12px;
        font-size: 50px;
        color: $color;
        cursor: pointer;
        &:after {
          content: none;
        }
        &:hover {
          color: $orange;
        }
      }
      .onsale {
        left: 6px;
        font-size: 58px;
        color: $orange;
        cursor: default;
      }
    }
    .images {
      .woocommerce-main-image {
        display: block;
        margin-bottom: 7px;
      }
      .thumbnails {
        .swiper-button-next, .swiper-button-prev {
          background: none;
          top: auto;
          bottom: 49px;
          margin-top: -15px;
          font-size: 30px;
          line-height: 1;
          color: $color;
          width: auto;
          height: auto;
          &.swiper-button-disabled {
            opacity: 0;
          }
        }
        .swiper-button-next {
          right: -20px;
        }
        .swiper-button-prev {
          left: -20px;
        }
      }
      .zoom {
        padding-bottom: 0;
        &:after {
          content: none;
        }
      }
    }
    .woocommerce_product_desc {
      @include flex-basis(45%);
      position: relative;
      margin-bottom: 7px;
      .woocommerce-product-rating {
        position: absolute;
        bottom: 0;
        font-size: rem(14);
        text-align: center;
        strong {
          font-size: rem(16);
        }
      }
      .price {
        font-size: rem(25);
        margin-bottom: rem(70);
        del {
          display: block;
          font-size: rem(16);
          color: #ff5549;
          margin-bottom: -3px;
        }
        ins {
          text-decoration: none;
        }
        .amount {
          padding-right: 7px;
          + .amount {
            padding-right: 0;
            padding-left: 7px;
          }
        }
      }
      .product_meta {display: none;}
    }
    .tab_related {
      @include flex-basis(100%);
      margin-top: rem(35);
    }
  }
}

.woocommerce-breadcrumb {
  font-size: rem(14);
  margin-bottom: rem(27);
}

.product_title {
  font: 400 #{rem(24)}/1.1 $font;
  letter-spacing: rem(2);
  text-transform: uppercase;
  margin-bottom: rem(70);
}

table.variations {
  width: 230px;
  margin-bottom: rem(15);
  td.label {
    padding-right: 20px;
    label {
      margin-bottom: 0;
      margin-top: 6px;
    }
  }
  td.value {
    position: relative;
    &:after {
      @include triangle(6px, 7px, $color, bottom);
      right: 5px;
      top: 15px;
      left: auto;
      @include transform(translateX(0));
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 2px;
      width: 22px;
      background: #fff;
    }
    .reset_variations {
      position: absolute;
      left: 173px;
      top: 12px;
      font-size: rem(12);
      text-transform: uppercase;
    }
  }
}

#rozmiry {
  font: 400 12px/36px $font;
  color: $color;
  height: 36px;
  border: none;
  border-bottom: 2px solid $color;
  text-transform: uppercase;
  cursor: pointer;
  padding-right: 22px;
  option {
    padding: 3px 5px;
    font: 400 11px $font;
  }
}

.woocommerce-variation-add-to-cart {
  margin-top: rem(25);
}

.single_add_to_cart_button {
  font-size: 0;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 25px;
  &:before {
    font-size: 42px;
    color: $color;
    @include transition();
  }
  &:hover:before {
    color: $orange;
  }
  &[disabled="disabled"] {
    cursor: default;
    &:before {
      color: rgba($color, 0.27);
    }
  }
}

.fancybox-nav {
  &:hover {
    span {
      opacity: 1;
    }
  }
  span {
    width: 40px;
    height: 48px;
    margin-top: -24px;
    background: $color;
    opacity: 0;
    font-size: 23px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    @include transition();
    &:hover {
      background: rgba($color, 0.7);
    }
  }
}
.fancybox-prev span {
  left: 0;
  padding-right: 3px;
}
.fancybox-next span {
  right: 0;
}
.fancybox-close {
  background: none;
  right: -30px;
  top: -5px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  z-index: 11;
  font-size: 26px;
  line-height: 30px;
  width: 21px;
  height: 21px;
  font-weight: 700;
  &:hover {
    color: $color;
  }
}

.stars {
  margin-bottom: 10px;
  [class^="star-"] {
    padding-bottom: 0;
    display: inline-block;
    margin-right: 15px;
    font-weight: 700;
    border: 1px solid;
    @include border-radius(100%);
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 1.7;
    &:hover, &.active {
      background: $color;
      border-color: $color;
      color: #fff;
    }
    &:after{content: none;}
  }
}

.panel.wc-tab {
  h2 {display: none;}
}

.woocommerce-tabs {
  margin-bottom: rem(30);
}

.tabs.wc-tabs {
  margin-bottom: rem(25);
  li {
    display: inline-block;
    margin-right: 31px;
    a {
      display: block;
      border-top: 2px solid;
      padding: 3px 12px 5px 12px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        border-left: 2px solid;
        border-right: 2px solid;
        @include transition();
      }
      &:hover {
        &:before {
          bottom: auto;
          top: 0;
          height: 100%;
        }
        &:after {
          left: 50%;
          width: 99%;
        }
      }
      &:after {
        height: 2px;
        right: auto;
        left: 50%;
        @include transform(translateX(-50%));
      }
    }
    &.active a {
      &:before {
        bottom: auto;
        top: 0;
        height: 100%;
      }
      &:after {
        left: 50%;
        width: 99%;
      }
    }
  }
}

.commentlist {
  li {
    margin-bottom: rem(30);
    .children {
      margin: 20px 0 0 70px;
    }
  }
}

.comment-text {
  .meta {
    margin: 6px 0 30px;
    strong {
      text-transform: uppercase;
      font-size: rem(14);
    }
    time {
      font-size: rem(13);
    }
  }
  .description {
    padding: rem(10) 0;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -8px;
      left: 0;
      width: 30px;
      height: 1px;
      background: $color;
    }
  }
}

.comment_container {
  @include flexbox();
  position: relative;
  .star-rating {
    position: absolute;
    left: 2px;
    top: 45px;
    font-size: 11px;
    strong {
      display: inline-block;
      width: 17px;
      height: 17px;
      line-height: 1.7;
      color: #fff;
      background: $color;
      @include border-radius(100%);
      text-align: center;
    }
  }
  img {
    width: 40px;
    height: 40px;
    margin-right: 30px;
  }
}

#comments {
  padding-top: rem(10);
}

.firefox {
  .comment_container {
    .star-rating {
      strong {
        line-height: 1.5;
      }
    }
  }
  .stars {
    [class^="star-"] {
      line-height: 1.5;
    }
  }
}

#reply-title {
  font-size: rem(18);
  padding-bottom: rem(20);
}

.shop_attributes {
  td {
    padding: 3px 10px;
  }
}

/* End WooCommerce */