/* WooCommerce Custom Styles */
@import 'reset';

#customer_details {
  margin: 30px 0 0;
}
.col2-set {
  .col-1 {
    float: left
  }
  .col-2 {
    float: right
  }
  > div {
    width: 49%;
  }
}
.form-row {
  label {
    display: block;
    font: 400 16px $font;
    padding: 0 0 10px
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    border: 1px solid #eee;
    @include border-radius(5px);
    color: #555;
    display: block;
    font: 400 14px/40px $font;
    height: 40px;
    padding: 0 20px;
    width: 100%;
    &:focus {
      border-color: #4f91cd;
      color: #4f91cd;
    }
  }
  textarea {
    height: 130px;
    line-height: 20px;
    overflow: hidden;
    padding: 10px;
    resize: none;
  }
  abbr {
    border: 0;
    color: #e74c3c;
    font-size: 16px;
  }
  input#billing_state + span {
    display: none;
  }
}
.woocommerce-error {
  margin: 0;
  li {
    background: #fff;
    border: 1px solid #ef4036;
    @include border-radius(5px);
    color: #ef4036 !important;
    display: block;
    font: 400 14px/38px $font !important;
    list-style: none !important;
    margin: 20px 0;
    text-align: center;
    padding: 10px !important;
    &::before {
      display: none !important;
    }
  }
}
.shop_table {
  width: 100%;
  tr {
    th {
      background: #4f91cd;
      border: 1px solid #3979b2;
      color: #fff;
      font: 300 20px $font;
      padding: 10px;
      text-transform: uppercase;
      &.product-thumbnail {
        border-right: 0;
        border-left: 0
      }
      &.product-name {
        border-left: 0
      }
      &.product-remove {
        border-right: 0;
      }
    }
    td {
      background: #fff;
      border: 1px solid #3979b2;
      padding: 10px;
      p {padding: 0}
      &.product-thumbnail {
        padding: 0;
        width: 90px;
        a, img {display: block}
        img {
          width: 90px;
        }
      }
      &.product-name {
        padding: 5px 10px;
      }
      &.product-price,
      &.product-subtotal {
        text-align: center;
      }
      &.product-quantity {
        text-align: center;
        width: 120px;
      }
      &.actions {
        border: 0;
        text-align: right;
        padding: 10px 0;
      }
    }
    .product-remove {
      padding: 0;
      width: 20px;
      a.remove {
        background: #ef4036;
        color: #fff;
        display: block;
        font: 700 20px/21px $font;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        width: 21px;
      }
    }
  }
}
.cart-collaterals {
  .cart_totals {
    float: right;
    text-align: right;
    margin: 0 0 40px;
    table {
      table-layout: fixed;
      text-align: right;
      max-width: 100%;
      width: 300px;
      td {
        font-size: 16px
      }
    }
  }
}
.woocommerce-message {
  border: 1px solid #eee;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  padding: 20px;
  vertical-align: middle;
  .button {
    margin-right: 20px;
  }
}
#payment {
  margin-top: 30px;
  .payment_methods {
    margin: 0 0 30px;
    li {
      list-style: none;
      padding: 0;
      &:before {
        display: none
      }
      input {
        display: none;
        & + label {
          background: #eee;
          color: #4f91cd;
          cursor: pointer;
          display: inline-block;
          font: 500 15px/40px $font;
          height: 40px;
          letter-spacing: 1.666px;
          margin-bottom: 20px;
          max-width: 100%;
          padding: 0 20px;
          text-decoration: none;
          width: 310px;
          &:hover {
            background: #3979b2;
            color: #fff
          }
          img {
            float: right;
            position: relative;
            right: -10px;
            top: 8px
          }
        }
        &:checked {
          & + label {
            background: #4f91cd;
            color: #fff
          }
        }
      }
    }
  }
}

.woocommerce-billing-fields {
  font-size: 0;
  margin: 0 -10px;
  > h3 {
    margin-left: 10px;
  }
  .form-row {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 10px 15px;
  }
  #billing_country_field,
  #billing_address_1_field,
  #billing_company_field {
    display: block;
    width: auto;
  }
  #billing_city_field {
    label {
      display: none
    }
  }
  #order_comments_field > label {
    display: none;
  }
  .select2-container .select2-choice > .select2-chosen {
    font-size: 14px;
  }
}

.woocommerce-shipping-fields {
  .form-row {
    &#order_comments_field {
      padding-top: 32px;
      label {
        display: none
      }
      textarea {
        height: 116px;
      }
    }
  }
}

form.cart {
  display: inline-block;
  vertical-align: top;
}


.quantity {
  display: inline-block;
  position: relative;
  width: 100px;
  input[type="button"] {
    background: #56a89f;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    &.minus {
      bottom: 0;
      top: auto;
    }
  }
  input[type="number"] {
    text-align: center;
    border: 1px solid #eee;
    @include border-radius(5px);
    color: #555;
    display: block;
    font: 400 14px/40px $font;
    height: 40px;
    padding: 0 20px;
    width: 100%;
    -moz-appearance:textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &:focus {
      border-color: #56a89f;
      color: #56a89f
    }
  }
}

/* End WooCommerce */