/* WooCommerce Custom Styles */
.bg {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover; }

.ani {
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  transition: all 0.35s ease; }

/*
flex grid

EXAMPLE
.flexgrid {
  @include flex-grid(5, 4%);
  > div {
    margin-bottom: .4em;
    background: #333;
    padding: .8em;
    color: #fff;
  }
}

*/
.products {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  transition: all 0.35s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -1.2%;
  width: 102.4%;
  margin-top: 30px; }
  .products > * {
    width: 22.6%;
    margin: 0 1.2% 1.5em; }
  .products .product {
    position: relative;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .products .product > a:first-of-type {
      display: block;
      position: relative; }
      .products .product > a:first-of-type * {
        color: #fff;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -ms-transition: all 0.35s ease;
        transition: all 0.35s ease; }
      .products .product > a:first-of-type img {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0); }
      .products .product > a:first-of-type .onsale {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        font-size: 50px;
        line-height: 0; }
        .products .product > a:first-of-type .onsale .i-burst-sale:before {
          color: orange; }
      .products .product > a:first-of-type h3 {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: -10px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        opacity: 0; }
      .products .product > a:first-of-type .price {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 85%;
        opacity: 0; }
        .products .product > a:first-of-type .price del {
          display: block;
          color: #ff5548;
          position: absolute;
          top: -17px; }
          .products .product > a:first-of-type .price del .amount {
            font-size: 12px;
            color: #ff5548; }
        .products .product > a:first-of-type .price ins {
          text-decoration: unset; }
        .products .product > a:first-of-type .price .amount {
          font-size: 20px;
          padding: 0 5px; }
    .products .product:hover > a:first-of-type img {
      opacity: 0.17; }
    .products .product:hover > a:first-of-type h3 {
      top: 20px;
      opacity: 1; }
    .products .product:hover > a:first-of-type .price {
      top: 50%;
      opacity: 1; }
    .products .product:hover .button {
      opacity: 1; }
    .products .product:hover .added_to_cart i.i-cart-arrow-down:before {
      left: auto;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    .products .product:hover a.i-cart-arrow-down:before {
      left: auto;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    .products .product:hover [class^="i-cart"]:before {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .products .product:hover .star-rating {
      opacity: 1; }
    .products .product .button, .products .product .added_to_cart {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15px;
      text-align: center; }
    .products .product .button {
      opacity: 0; }
    .products .product .added_to_cart {
      font-size: 0;
      line-height: 0;
      height: 0; }
      .products .product .added_to_cart i.i-cart-arrow-down {
        position: absolute;
        top: -244px;
        right: 47px;
        color: #ff4e50;
        opacity: 1; }
        .products .product .added_to_cart i.i-cart-arrow-down:before {
          position: absolute;
          left: auto;
          bottom: auto;
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          transition: all 0.35s ease; }
        .products .product .added_to_cart i.i-cart-arrow-down:hover:before {
          color: orange; }
    .products .product [class^="i-cart"] {
      color: #ff4e50;
      font-size: 36px; }
      .products .product [class^="i-cart"]:before {
        position: absolute;
        left: 0;
        bottom: 15px;
        -webkit-transition: all 0.5s cubic-bezier(0.4, 0.36, 0.14, 1.7);
        -moz-transition: all 0.5s cubic-bezier(0.4, 0.36, 0.14, 1.7);
        -ms-transition: all 0.5s cubic-bezier(0.4, 0.36, 0.14, 1.7);
        transition: all 0.5s cubic-bezier(0.4, 0.36, 0.14, 1.7); }
      .products .product [class^="i-cart"]:hover {
        color: orange; }
    .products .product a.i-cart-arrow-down {
      position: absolute;
      top: 56px;
      right: 46.5px;
      cursor: pointer; }
    .products .product .star-rating {
      position: absolute;
      left: 8px;
      bottom: 6px;
      font-size: 0.61905rem;
      color: #fff;
      opacity: 0; }
      .products .product .star-rating strong {
        font-size: 0.66667rem;
        border-bottom: 1px solid #ff4e50; }

.related_products_swipe > .products {
  display: block;
  width: 100%;
  margin: 0; }
  .related_products_swipe > .products > * {
    margin: 0 auto;
    width: 100%; }
.related_products_swipe h2 {
  margin-bottom: 1.42857rem; }

.product-thumbnail a, .products .product a {
  padding-bottom: 0; }
  .product-thumbnail a:after, .products .product a:after {
    display: none; }

[class^="woocommerce"] input:not([type="submit"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"]), [class^="woocommerce"] textarea {
  background: rgba(255, 78, 80, 0.1);
  color: #ff4e50;
  width: 100%;
  border: 0 none;
  border-bottom: 2px solid #ff4e50;
  display: block;
  height: 42px;
  font: 400 15px "Arial", sans-serif;
  border-radius: 0;
  margin-bottom: 15px;
  padding: 0 8px; }
  [class^="woocommerce"] input:not([type="submit"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder, [class^="woocommerce"] textarea::-webkit-input-placeholder {
    color: #ff4e50;
    font-size: 14px; }
  [class^="woocommerce"] input:not([type="submit"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder, [class^="woocommerce"] textarea:-moz-placeholder {
    color: #ff4e50;
    font-size: 14px; }
  [class^="woocommerce"] input:not([type="submit"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder, [class^="woocommerce"] textarea::-moz-placeholder {
    color: #ff4e50;
    font-size: 14px; }
  [class^="woocommerce"] input:not([type="submit"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder, [class^="woocommerce"] textarea:-ms-input-placeholder {
    color: #ff4e50;
    font-size: 14px; }
  [class^="woocommerce"] input:not([type="submit"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"]):focus, [class^="woocommerce"] textarea:focus {
    border-bottom-color: orange;
    background: rgba(255, 165, 0, 0.1); }
[class^="woocommerce"] textarea {
  resize: none;
  overflow: hidden;
  min-height: 100px;
  line-height: 1.5;
  padding: 8px 8px 0.1em;
  -webkit-transition: none 0s ease;
  -moz-transition: none 0s ease;
  -ms-transition: none 0s ease;
  transition: none 0s ease; }
[class^="woocommerce"] label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 0.04762rem;
  text-transform: uppercase; }
[class^="woocommerce"] input:-webkit-autofill {
  background-color: rgba(255, 78, 80, 0.1) !important; }

.filtering {
  float: left;
  width: 240px;
  margin-bottom: 1.19048rem; }
  .filtering .filters {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -1%;
    width: 102%; }
    .filtering .filters > * {
      width: 48%;
      margin: 0 1% 1.5em; }
    .filtering .filters a {
      display: block;
      border: 2px solid #ff4e50;
      color: #ff4e50;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      padding: 4px 10px;
      margin-bottom: 0.5em; }
      .filtering .filters a:after {
        display: none; }
      .filtering .filters a:hover, .filtering .filters a.filtered {
        color: orange;
        border-color: orange; }

.woocommerce-result-count {
  display: none; }
  .woocommerce-result-count + .woocommerce-ordering {
    float: right;
    width: 390px;
    max-width: 100%; }

.grid_item {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  visibility: visible;
  opacity: 1; }
  .grid_item.fff {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    visibility: hidden;
    opacity: 0; }

.form-row input[type="submit"] {
  margin-top: 20px; }
.form-row abbr {
  border: 0;
  color: #e74c3c;
  font-size: 16px;
  line-height: 1; }
.form-row input#billing_state + span {
  display: none; }

.shop_table {
  width: 100%; }
  .shop_table tr th {
    border: none;
    padding: 10px;
    font: 400 0.61905rem "Arial", sans-serif;
    text-transform: uppercase; }
    .shop_table tr th.product-name, .shop_table tr th.product-total {
      font-size: 0.7619rem; }
  .shop_table tr td {
    border: none;
    padding: 10px;
    text-align: center; }
    .shop_table tr td p {
      padding: 0; }
    .shop_table tr td.product-thumbnail {
      padding: 10px;
      width: 110px; }
      .shop_table tr td.product-thumbnail a, .shop_table tr td.product-thumbnail img {
        display: block; }
      .shop_table tr td.product-thumbnail img {
        width: 110px; }
    .shop_table tr td.product-quantity {
      text-align: center;
      width: 120px;
      position: relative; }
      .shop_table tr td.product-quantity input.button {
        display: block;
        position: absolute;
        font-size: 9px;
        padding: 3px;
        margin: 10px 0 0;
        opacity: 0;
        visibility: hidden; }
        .shop_table tr td.product-quantity input.button.active {
          opacity: 1;
          visibility: visible; }
    .shop_table tr td.actions {
      border: 0;
      text-align: left;
      padding: 10px 0; }
      .shop_table tr td.actions .coupon {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0.47619rem 0 1.42857rem; }
        .shop_table tr td.actions .coupon label {
          -webkit-flex-basis: 100%;
          -moz-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
        .shop_table tr td.actions .coupon #coupon_code {
          -webkit-flex-basis: 300px;
          -moz-flex-basis: 300px;
          -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
          margin-bottom: 0;
          height: 40px; }
        .shop_table tr td.actions .coupon .button {
          margin: 0 0 0 20px; }
  .shop_table tr .product-remove {
    padding: 0 10px;
    width: 20px; }
    .shop_table tr .product-remove a.remove {
      color: orange;
      display: block;
      font-size: 23px;
      line-height: 1;
      width: 21px; }
      .shop_table tr .product-remove a.remove:after {
        display: none; }
      .shop_table tr .product-remove a.remove:hover {
        color: #ff4e50; }
  .shop_table tr.order-total {
    background: rgba(0, 128, 0, 0.1); }
  .shop_table tr.cart_item {
    background: rgba(0, 128, 0, 0.1);
    border-bottom: 5px solid #fff; }

.quantity {
  position: relative;
  width: 102px;
  display: inline-block;
  vertical-align: middle;
  /*input[type="button"] {
    background: #56a89f;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    &.minus {
      bottom: 0;
      top: auto;
    }
  }*/ }
  .quantity input[type="number"] {
    text-align: center;
    margin-bottom: 0 !important;
    -moz-appearance: textfield; }
    .quantity input[type="number"]::-webkit-outer-spin-button, .quantity input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none; }

.woocommerce-info {
  font-size: 0.71429rem;
  margin-bottom: 15px; }
  .woocommerce-info + .login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px; }
    .woocommerce-info + .login > * {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end; }
    .woocommerce-info + .login .form-row-first, .woocommerce-info + .login .form-row-last {
      -webkit-flex-basis: 48%;
      -moz-flex-basis: 48%;
      -ms-flex-preferred-size: 48%;
      flex-basis: 48%; }
    .woocommerce-info + .login > p:first-child {
      padding-bottom: 15px;
      font-size: 0.66667rem; }
    .woocommerce-info + .login .form-row .button {
      margin-right: 15px; }
    .woocommerce-info + .login .form-row .custom_checkbox {
      display: inline-block !important; }
  .woocommerce-info + .checkout_coupon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .woocommerce-info + .checkout_coupon .form-row-first {
      -webkit-flex-basis: 300px;
      -moz-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
      flex-basis: 300px; }
    .woocommerce-info + .checkout_coupon .clear {
      display: none; }
    .woocommerce-info + .checkout_coupon #coupon_code {
      margin-bottom: 0;
      height: 40px; }
    .woocommerce-info + .checkout_coupon .button {
      margin: 0 0 0 20px; }

.cart-collaterals .cart_totals {
  margin: 0.95238rem 0; }
  .cart-collaterals .cart_totals table {
    table-layout: fixed;
    max-width: 100%;
    width: 415px; }

.wc-proceed-to-checkout {
  margin-top: 1.90476rem; }

#customer_details {
  margin: 1.42857rem 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  #customer_details .col-1 {
    -webkit-flex-basis: 59%;
    -moz-flex-basis: 59%;
    -ms-flex-preferred-size: 59%;
    flex-basis: 59%; }
  #customer_details .col-2 {
    -webkit-flex-basis: 38.6%;
    -moz-flex-basis: 38.6%;
    -ms-flex-preferred-size: 38.6%;
    flex-basis: 38.6%; }

#customer_login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  #customer_login > div {
    -webkit-flex-basis: 48.5%;
    -moz-flex-basis: 48.5%;
    -ms-flex-preferred-size: 48.5%;
    flex-basis: 48.5%; }
  #customer_login .register label small {
    float: left;
    display: inline-block;
    text-transform: none;
    margin: 10px 0 15px; }
  #customer_login .login .button {
    margin-right: 15px; }
  #customer_login .login .custom_checkbox {
    display: inline-block !important; }

.lost_reset_password > p:first-child {
  margin-bottom: 20px; }

.edit-account {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .edit-account > * {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .edit-account .form-row-first, .edit-account .form-row-last {
    -webkit-flex-basis: 48.5%;
    -moz-flex-basis: 48.5%;
    -ms-flex-preferred-size: 48.5%;
    flex-basis: 48.5%; }
  .edit-account .clear {
    display: none; }
  .edit-account label small {
    float: left;
    display: inline-block;
    text-transform: none;
    margin: 10px 0 15px; }
  .edit-account fieldset {
    border: none; }
    .edit-account fieldset legend {
      display: block;
      margin: 10px 0 15px; }
  .edit-account input[type="submit"] {
    margin-top: 20px; }

.woocommerce-billing-fields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .woocommerce-billing-fields > h3 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .woocommerce-billing-fields .form-row {
    -webkit-flex-basis: 48%;
    -moz-flex-basis: 48%;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end; }
    .woocommerce-billing-fields .form-row.create-account {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
  .woocommerce-billing-fields #billing_city_field {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .woocommerce-billing-fields .clear {
    display: none; }

#billing_country_field {
  display: none; }

.create-account > p:first-child {
  padding-bottom: 15px;
  font-size: 0.66667rem; }

.lost_password {
  font-size: 0.66667rem; }

.myaccount_user {
  margin-bottom: 25px; }

.myaccount_address {
  margin-bottom: 10px; }

#order_review_heading {
  margin-top: 15px; }

.my_account_orders {
  margin-bottom: 40px; }
  .my_account_orders tr.order {
    background: rgba(0, 128, 0, 0.1);
    border-bottom: 5px solid #fff; }

section.title h3 {
  font-size: 0.7619rem;
  padding-bottom: 0.95238rem; }

.address address {
  margin-top: 0.71429rem; }

.for_flex_address_form form[method="post"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .for_flex_address_form form[method="post"] > * {
    -webkit-flex-basis: 32%;
    -moz-flex-basis: 32%;
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .for_flex_address_form form[method="post"] .clear {
    display: none; }
  .for_flex_address_form form[method="post"] h3 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .for_flex_address_form form[method="post"] #billing_city_field {
    -webkit-flex-basis: 66%;
    -moz-flex-basis: 66%;
    -ms-flex-preferred-size: 66%;
    flex-basis: 66%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1; }
  .for_flex_address_form form[method="post"] .button {
    margin-bottom: 17px; }

.order-info {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 0.95238rem; }

.order_details {
  margin-bottom: 1.42857rem; }
  .order_details tr.order_item {
    background: rgba(0, 128, 0, 0.1);
    border-bottom: 5px solid #fff; }
  .order_details tfoot tr:nth-of-type(2) {
    background: rgba(0, 128, 0, 0.1); }

.customer_details {
  margin-bottom: 1.42857rem; }
  .customer_details tr {
    background: rgba(0, 128, 0, 0.1);
    border-bottom: 5px solid #fff; }

.formargin {
  margin-bottom: 1.42857rem; }

.custom_checkbox {
  margin: 10px 0 20px !important;
  color: #ff4e50; }
  .custom_checkbox span {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    cursor: pointer; }
    .custom_checkbox span:before {
      content: '';
      position: absolute;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 45%;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid #ff4e50;
      background: rgba(255, 78, 80, 0);
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      transition: all 0.35s ease; }
    .custom_checkbox span:after {
      content: '\2713';
      position: absolute;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 45%;
      left: 3px;
      font-size: 13px;
      font-weight: 700;
      color: #fff;
      opacity: 0;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      transition: all 0.35s ease; }
  .custom_checkbox input {
    display: none; }
    .custom_checkbox input:checked + span:after {
      opacity: 1; }
    .custom_checkbox input:checked + span:before {
      background: #ff4e50; }

form.cart {
  display: inline-block;
  vertical-align: top; }

.woocommerce-error {
  margin: 0; }
  .woocommerce-error li {
    background: #fff;
    border-bottom: 1px solid #ef4036;
    color: #ef4036 !important;
    display: block;
    font: 400 0.71429rem/1.80952rem "Arial", sans-serif !important;
    list-style: none !important;
    margin: 20px 0;
    text-align: center;
    padding: 5px !important; }
    .woocommerce-error li::before {
      display: none !important; }

.woocommerce-message {
  border-bottom: 2px solid #ccc;
  margin: 0.47619rem 0 1.42857rem;
  padding: 0.71429rem 0; }
  .woocommerce-message .button {
    margin-right: 15px;
    padding-bottom: 0;
    height: 42px;
    width: 42px;
    display: inline-block;
    vertical-align: -14px;
    /*&:before {
      content: '\61';
      font-family: $lovely;
      font-size: 36px;
      position: absolute;
      left: 0;
      top: 0;
    }*/ }
    .woocommerce-message .button:after {
      display: none; }
    .woocommerce-message .button span {
      display: none; }
    .woocommerce-message .button i {
      font-size: 42px;
      line-height: 1;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      transition: all 0.35s ease; }
    .woocommerce-message .button:hover i {
      color: orange; }

#payment {
  margin-top: 30px; }
  #payment .payment_methods {
    margin: 0 0 10px; }
    #payment .payment_methods li {
      list-style: none;
      padding: 0; }
      #payment .payment_methods li:before {
        display: none; }
      #payment .payment_methods li input {
        display: none; }
        #payment .payment_methods li input + label {
          background: #eee;
          color: #4f91cd;
          cursor: pointer;
          display: inline-block;
          font: 500 15px/40px "Arial", sans-serif;
          height: 40px;
          letter-spacing: 1.666px;
          margin-bottom: 20px;
          max-width: 100%;
          padding: 0 20px;
          text-decoration: none; }
          #payment .payment_methods li input + label:hover {
            background: #3979b2;
            color: #fff; }
          #payment .payment_methods li input + label img {
            float: right;
            position: relative;
            right: -10px;
            top: 8px; }
        #payment .payment_methods li input:checked + label {
          background: #4f91cd;
          color: #fff; }

article .summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  article .summary .onsale {
    position: absolute;
    z-index: 1; }
  article .summary .for_images {
    -webkit-flex-basis: 42%;
    -moz-flex-basis: 42%;
    -ms-flex-preferred-size: 42%;
    flex-basis: 42%;
    position: relative;
    z-index: 0; }
    article .summary .for_images a.i-cart-arrow-down, article .summary .for_images .onsale {
      line-height: 1;
      position: absolute;
      top: 4px;
      z-index: 1;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      transition: all 0.35s ease; }
    article .summary .for_images a.i-cart-arrow-down {
      right: 12px;
      font-size: 50px;
      color: #ff4e50;
      cursor: pointer; }
      article .summary .for_images a.i-cart-arrow-down:after {
        content: none; }
      article .summary .for_images a.i-cart-arrow-down:hover {
        color: orange; }
    article .summary .for_images .onsale {
      left: 6px;
      font-size: 58px;
      color: orange;
      cursor: default; }
  article .summary .images .woocommerce-main-image {
    display: block;
    margin-bottom: 7px; }
  article .summary .images .thumbnails .swiper-button-next, article .summary .images .thumbnails .swiper-button-prev {
    background: none;
    top: auto;
    bottom: 49px;
    margin-top: -15px;
    font-size: 30px;
    line-height: 1;
    color: #ff4e50;
    width: auto;
    height: auto; }
    article .summary .images .thumbnails .swiper-button-next.swiper-button-disabled, article .summary .images .thumbnails .swiper-button-prev.swiper-button-disabled {
      opacity: 0; }
  article .summary .images .thumbnails .swiper-button-next {
    right: -20px; }
  article .summary .images .thumbnails .swiper-button-prev {
    left: -20px; }
  article .summary .images .zoom {
    padding-bottom: 0; }
    article .summary .images .zoom:after {
      content: none; }
  article .summary .woocommerce_product_desc {
    -webkit-flex-basis: 45%;
    -moz-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    position: relative;
    margin-bottom: 7px; }
    article .summary .woocommerce_product_desc .woocommerce-product-rating {
      position: absolute;
      bottom: 0;
      font-size: 0.66667rem;
      text-align: center; }
      article .summary .woocommerce_product_desc .woocommerce-product-rating strong {
        font-size: 0.7619rem; }
    article .summary .woocommerce_product_desc .price {
      font-size: 1.19048rem;
      margin-bottom: 3.33333rem; }
      article .summary .woocommerce_product_desc .price del {
        display: block;
        font-size: 0.7619rem;
        color: #ff5549;
        margin-bottom: -3px; }
      article .summary .woocommerce_product_desc .price ins {
        text-decoration: none; }
      article .summary .woocommerce_product_desc .price .amount {
        padding-right: 7px; }
        article .summary .woocommerce_product_desc .price .amount + .amount {
          padding-right: 0;
          padding-left: 7px; }
    article .summary .woocommerce_product_desc .product_meta {
      display: none; }
  article .summary .tab_related {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 1.66667rem; }

.woocommerce-breadcrumb {
  font-size: 0.66667rem;
  margin-bottom: 1.28571rem; }

.product_title {
  font: 400 1.14286rem/1.1 "Arial", sans-serif;
  letter-spacing: 0.09524rem;
  text-transform: uppercase;
  margin-bottom: 3.33333rem; }

table.variations {
  width: 230px;
  margin-bottom: 0.71429rem; }
  table.variations td.label {
    padding-right: 20px; }
    table.variations td.label label {
      margin-bottom: 0;
      margin-top: 6px; }
  table.variations td.value {
    position: relative; }
    table.variations td.value:after {
      position: absolute;
      content: '';
      height: 0;
      width: 0;
      border-bottom: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 7px solid #ff4e50;
      bottom: -7px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      right: 5px;
      top: 15px;
      left: auto;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    table.variations td.value:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 2px;
      width: 22px;
      background: #fff; }
    table.variations td.value .reset_variations {
      position: absolute;
      left: 173px;
      top: 12px;
      font-size: 0.57143rem;
      text-transform: uppercase; }

#rozmiry {
  font: 400 12px/36px "Arial", sans-serif;
  color: #ff4e50;
  height: 36px;
  border: none;
  border-bottom: 2px solid #ff4e50;
  text-transform: uppercase;
  cursor: pointer;
  padding-right: 22px; }
  #rozmiry option {
    padding: 3px 5px;
    font: 400 11px "Arial", sans-serif; }

.woocommerce-variation-add-to-cart {
  margin-top: 1.19048rem; }

.single_add_to_cart_button {
  font-size: 0;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 25px; }
  .single_add_to_cart_button:before {
    font-size: 42px;
    color: #ff4e50;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  .single_add_to_cart_button:hover:before {
    color: orange; }
  .single_add_to_cart_button[disabled="disabled"] {
    cursor: default; }
    .single_add_to_cart_button[disabled="disabled"]:before {
      color: rgba(255, 78, 80, 0.27); }

.fancybox-nav:hover span {
  opacity: 1; }
.fancybox-nav span {
  width: 40px;
  height: 48px;
  margin-top: -24px;
  background: #ff4e50;
  opacity: 0;
  font-size: 23px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  transition: all 0.35s ease; }
  .fancybox-nav span:hover {
    background: rgba(255, 78, 80, 0.7); }

.fancybox-prev span {
  left: 0;
  padding-right: 3px; }

.fancybox-next span {
  right: 0; }

.fancybox-close {
  background: none;
  right: -30px;
  top: -5px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  z-index: 11;
  font-size: 26px;
  line-height: 30px;
  width: 21px;
  height: 21px;
  font-weight: 700; }
  .fancybox-close:hover {
    color: #ff4e50; }

.stars {
  margin-bottom: 10px; }
  .stars [class^="star-"] {
    padding-bottom: 0;
    display: inline-block;
    margin-right: 15px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 1.7; }
    .stars [class^="star-"]:hover, .stars [class^="star-"].active {
      background: #ff4e50;
      border-color: #ff4e50;
      color: #fff; }
    .stars [class^="star-"]:after {
      content: none; }

.panel.wc-tab h2 {
  display: none; }

.woocommerce-tabs {
  margin-bottom: 1.42857rem; }

.tabs.wc-tabs {
  margin-bottom: 1.19048rem; }
  .tabs.wc-tabs li {
    display: inline-block;
    margin-right: 31px; }
    .tabs.wc-tabs li a {
      display: block;
      border-top: 2px solid;
      padding: 3px 12px 5px 12px; }
      .tabs.wc-tabs li a:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        border-left: 2px solid;
        border-right: 2px solid;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -ms-transition: all 0.35s ease;
        transition: all 0.35s ease; }
      .tabs.wc-tabs li a:hover:before {
        bottom: auto;
        top: 0;
        height: 100%; }
      .tabs.wc-tabs li a:hover:after {
        left: 50%;
        width: 99%; }
      .tabs.wc-tabs li a:after {
        height: 2px;
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    .tabs.wc-tabs li.active a:before {
      bottom: auto;
      top: 0;
      height: 100%; }
    .tabs.wc-tabs li.active a:after {
      left: 50%;
      width: 99%; }

.commentlist li {
  margin-bottom: 1.42857rem; }
  .commentlist li .children {
    margin: 20px 0 0 70px; }

.comment-text .meta {
  margin: 6px 0 30px; }
  .comment-text .meta strong {
    text-transform: uppercase;
    font-size: 0.66667rem; }
  .comment-text .meta time {
    font-size: 0.61905rem; }
.comment-text .description {
  padding: 0.47619rem 0;
  position: relative; }
  .comment-text .description:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 30px;
    height: 1px;
    background: #ff4e50; }

.comment_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .comment_container .star-rating {
    position: absolute;
    left: 2px;
    top: 45px;
    font-size: 11px; }
    .comment_container .star-rating strong {
      display: inline-block;
      width: 17px;
      height: 17px;
      line-height: 1.7;
      color: #fff;
      background: #ff4e50;
      border-radius: 50%;
      text-align: center; }
  .comment_container img {
    width: 40px;
    height: 40px;
    margin-right: 30px; }

#comments {
  padding-top: 0.47619rem; }

.firefox .comment_container .star-rating strong {
  line-height: 1.5; }
.firefox .stars [class^="star-"] {
  line-height: 1.5; }

#reply-title {
  font-size: 0.85714rem;
  padding-bottom: 0.95238rem; }

.shop_attributes td {
  padding: 3px 10px; }

/* End WooCommerce */

/*# sourceMappingURL=woo.css.map */
