/* WooCommerce Custom Styles */
/*
flex grid

EXAMPLE
.flexgrid {
  @include flex-grid(5, 4%);
  > div {
    margin-bottom: .4em;
    background: #333;
    padding: .8em;
    color: #fff;
  }
}

*/
#customer_details {
  margin: 30px 0 0; }

.col2-set .col-1 {
  float: left; }
.col2-set .col-2 {
  float: right; }
.col2-set > div {
  width: 49%; }

.form-row label {
  display: block;
  font: 400 16px "Arial", sans-serif;
  padding: 0 0 10px; }
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row textarea {
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #555;
  display: block;
  font: 400 14px/40px "Arial", sans-serif;
  height: 40px;
  padding: 0 20px;
  width: 100%; }
  .form-row input[type="text"]:focus,
  .form-row input[type="email"]:focus,
  .form-row input[type="tel"]:focus,
  .form-row textarea:focus {
    border-color: #4f91cd;
    color: #4f91cd; }
.form-row textarea {
  height: 130px;
  line-height: 20px;
  overflow: hidden;
  padding: 10px;
  resize: none; }
.form-row abbr {
  border: 0;
  color: #e74c3c;
  font-size: 16px; }
.form-row input#billing_state + span {
  display: none; }

.woocommerce-error {
  margin: 0; }
  .woocommerce-error li {
    background: #fff;
    border: 1px solid #ef4036;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #ef4036 !important;
    display: block;
    font: 400 14px/38px "Arial", sans-serif !important;
    list-style: none !important;
    margin: 20px 0;
    text-align: center;
    padding: 10px !important; }
    .woocommerce-error li::before {
      display: none !important; }

.shop_table {
  width: 100%; }
  .shop_table tr th {
    background: #4f91cd;
    border: 1px solid #3979b2;
    color: #fff;
    font: 300 20px "Arial", sans-serif;
    padding: 10px;
    text-transform: uppercase; }
    .shop_table tr th.product-thumbnail {
      border-right: 0;
      border-left: 0; }
    .shop_table tr th.product-name {
      border-left: 0; }
    .shop_table tr th.product-remove {
      border-right: 0; }
  .shop_table tr td {
    background: #fff;
    border: 1px solid #3979b2;
    padding: 10px; }
    .shop_table tr td p {
      padding: 0; }
    .shop_table tr td.product-thumbnail {
      padding: 0;
      width: 90px; }
      .shop_table tr td.product-thumbnail a, .shop_table tr td.product-thumbnail img {
        display: block; }
      .shop_table tr td.product-thumbnail img {
        width: 90px; }
    .shop_table tr td.product-name {
      padding: 5px 10px; }
    .shop_table tr td.product-price, .shop_table tr td.product-subtotal {
      text-align: center; }
    .shop_table tr td.product-quantity {
      text-align: center;
      width: 120px; }
    .shop_table tr td.actions {
      border: 0;
      text-align: right;
      padding: 10px 0; }
  .shop_table tr .product-remove {
    padding: 0;
    width: 20px; }
    .shop_table tr .product-remove a.remove {
      background: #ef4036;
      color: #fff;
      display: block;
      font: 700 20px/21px "Arial", sans-serif;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      width: 21px; }

.cart-collaterals .cart_totals {
  float: right;
  text-align: right;
  margin: 0 0 40px; }
  .cart-collaterals .cart_totals table {
    table-layout: fixed;
    text-align: right;
    max-width: 100%;
    width: 300px; }
    .cart-collaterals .cart_totals table td {
      font-size: 16px; }

.woocommerce-message {
  border: 1px solid #eee;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  padding: 20px;
  vertical-align: middle; }
  .woocommerce-message .button {
    margin-right: 20px; }

#payment {
  margin-top: 30px; }
  #payment .payment_methods {
    margin: 0 0 30px; }
    #payment .payment_methods li {
      list-style: none;
      padding: 0; }
      #payment .payment_methods li:before {
        display: none; }
      #payment .payment_methods li input {
        display: none; }
        #payment .payment_methods li input + label {
          background: #eee;
          color: #4f91cd;
          cursor: pointer;
          display: inline-block;
          font: 500 15px/40px "Arial", sans-serif;
          height: 40px;
          letter-spacing: 1.666px;
          margin-bottom: 20px;
          max-width: 100%;
          padding: 0 20px;
          text-decoration: none;
          width: 310px; }
          #payment .payment_methods li input + label:hover {
            background: #3979b2;
            color: #fff; }
          #payment .payment_methods li input + label img {
            float: right;
            position: relative;
            right: -10px;
            top: 8px; }
        #payment .payment_methods li input:checked + label {
          background: #4f91cd;
          color: #fff; }

.woocommerce-billing-fields {
  font-size: 0;
  margin: 0 -10px; }
  .woocommerce-billing-fields > h3 {
    margin-left: 10px; }
  .woocommerce-billing-fields .form-row {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 10px 15px; }
  .woocommerce-billing-fields #billing_country_field,
  .woocommerce-billing-fields #billing_address_1_field,
  .woocommerce-billing-fields #billing_company_field {
    display: block;
    width: auto; }
  .woocommerce-billing-fields #billing_city_field label {
    display: none; }
  .woocommerce-billing-fields #order_comments_field > label {
    display: none; }
  .woocommerce-billing-fields .select2-container .select2-choice > .select2-chosen {
    font-size: 14px; }

.woocommerce-shipping-fields .form-row#order_comments_field {
  padding-top: 32px; }
  .woocommerce-shipping-fields .form-row#order_comments_field label {
    display: none; }
  .woocommerce-shipping-fields .form-row#order_comments_field textarea {
    height: 116px; }

form.cart {
  display: inline-block;
  vertical-align: top; }

.quantity {
  display: inline-block;
  position: relative;
  width: 100px; }
  .quantity input[type="button"] {
    background: #56a89f;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px; }
    .quantity input[type="button"].minus {
      bottom: 0;
      top: auto; }
  .quantity input[type="number"] {
    text-align: center;
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #555;
    display: block;
    font: 400 14px/40px "Arial", sans-serif;
    height: 40px;
    padding: 0 20px;
    width: 100%;
    -moz-appearance: textfield; }
    .quantity input[type="number"]::-webkit-outer-spin-button, .quantity input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    .quantity input[type="number"]:focus {
      border-color: #56a89f;
      color: #56a89f; }

/* End WooCommerce */

/*# sourceMappingURL=woo.css.map */
