@import '../../import/import';

// default Gutenberg blocks
.has-text-align-left {text-align: left}
.has-text-align-right {text-align: right}
.has-text-align-center {text-align: center}

.wp-block-columns {
  &.are-vertically-aligned-top {align-items: flex-start}
  &.are-vertically-aligned-center {align-items: center}
  &.are-vertically-aligned-bottom {align-items: flex-end}
  &.is-vertically-aligned-top {align-self: flex-start}
  &.is-vertically-aligned-center {align-self: center}
  &.is-vertically-aligned-bottom {align-self: flex-end}
  &.is-vertically-aligned-top,
  &.is-vertically-aligned-center,
  &.is-vertically-aligned-bottom {width: 100%}
  &.has-background {padding: 20px}
  @include rwd-min(1025) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.wp-block-column {
  @include rwd-min(1025) {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 15px;
    &[style*=flex-basis] {flex-grow: 0}
  }
}

.wp-block-group {
  background-color: #f5f5f5;
  padding: 25px 25px 30px;
  margin-bottom: 25px;
  @include rwd-range(1139, 480) {
    padding: 25px 40px 30px;
  }
  @include rwd-min(1140) {
    padding: 25px 124px 30px;
  }
  *:last-child {margin-bottom: 0;padding-bottom: 0;}
  h3 {
    padding-bottom: 10px;
  }
}

.wp-block-media-text {
  @include rwd-min(768) {
    display: flex;
    align-items: center;
    margin: 0 -10px;
    &.is-vertically-aligned-top {align-items: flex-start}
    &.is-vertically-aligned-bottom {align-items: flex-end}
  }
  & > * {
    @include rwd-min(768) {
      flex: 1;
      margin: 0 10px;
    }
  }
  &.has-media-on-the-right {
    .wp-block-media-text__media {
      @include rwd-min(768) {order: 1}
    }
  }
  &.has-media-on-the-left {
    .wp-block-media-text__media {
      @include rwd-min(768) {order: -1}
    }
  }
}

.wp-block-table,
.wp-block-embed,
.wp-block-audio,
.wp-block-video {
  margin-bottom: 50px;
  @include rwd-min(768) {margin-bottom: 60px}
}

// wp html5 audio
.wp-block-audio {
  audio {width: 100%}
}

// wp html5 video
.wp-block-video {
  [poster] {object-fit: cover}
  video {width: 100%}
}

// custom Gutenberg blocks
.block {
  &__accordion {
    &_row {
      &:not(:last-child) {border-bottom: 2px solid $border}
    }

    &_title {
      @extend %ani;
      padding: 8px 68px 10px 10px;
      position: relative;
      cursor: pointer;
      user-select: none;
      @include rwd-min(768) {padding: 23px 76px 23px 20px}
      @include hover {
        color: $cl;
        .circle_arrow {box-shadow: inset 0 0 0 3px $cl}
      }

      .circle_arrow {
        @include center(false, true);
        right: 10px;
        @include rwd-min(768) {right: 14px}
      }
    }

    &_content {
      @extend %last_no_spacing;
      display: none;
      padding: 20px 18px 30px;
      box-shadow: inset 0 2px 0 $border;
      @include rwd-min(768) {
        padding-left: 20px;
        padding-right: 23px;
      }
    }
  }

  &__custom_video {
    &_poster {
      position: relative;

      a {
        @include center();
        color: #fff;
        @include hover {
          opacity: 1;
          color: $cl;
        }

        &:before {
          font-size: 48px;
          @include rwd-min(768) {font-size: 64px}
        }
      }
    }

    &_content {
      @extend %last_no_spacing;
      padding: 20px 20px 24px;

      h2, h3, h4, h5, h6, p, ol,
      ul:not(.blocks-gallery-grid) {padding-bottom: 10px}
    }
  }

  &__custom_gallery {
    display: grid;
    grid-gap: 15px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    @include rwd-min(569) {
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }

    &_item {
      display: flex;
      @include rwd-min(569) {
        &:nth-child(8n+5):not(:last-child) {
          grid-column: span 2 / span 3;
          grid-row: span 2 /span 3;
        }
        &:nth-child(8n+6):not(:last-child) {
          grid-column: span 1 / span 1;
          grid-row: span 2 /span 4;
          img {object-fit: cover}
        }
      }
      @include rwd-max(568) {
        &:nth-child(8n+3) {
          grid-column: span 2 / span 2;
          grid-row: span 2 /span 3;
        }
        &:nth-child(8n+7):not(:last-child) {
          grid-column: span 1 / span 2;
          grid-row: span 2 /span 6;
          img {object-fit: cover}
        }
      }

      a {display: flex}
    }
  }

  &__custom_slider {
    &_controls {
      padding-top: 30px;

      .sw_prev {margin-right: 10px}
      .sw_next {margin-left: 10px}
    }
  }
}

.block__accordion,
.block__custom_video,
.block__custom_gallery,
.block__custom_slider {
  margin-bottom: 50px;
  @include rwd-min(768) {margin-bottom: 60px}
}

.block__accordion,
.block__custom_video {
  background-color: #fff;
  box-shadow: 2px 6px 20px $shadow;
}