// reset

* {
  margin: 0;
  padding: 0;
  min-width: 1px;
  outline: 0 none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
*:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  margin: 0;
  background: #f5f5f5;
  font: 400 #{$fb}/1.6 $ff;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  @include rwd(1151) {font-size: 27px}
  @include rwd(1024) {font-size: 24px}
  @include rwd(767) {font-size: 21px}
  @include rwd(480) {font-size: 18px}
}
body {
  @include flex-direction(column);
  @include flexbox();
  min-height: 100vh;
  max-width: 2048px;
  background: #fff;
  margin: 0 auto;
  font-size: $fp;
  color: $tx;
}
#main {
  @include flex(1, 0, auto);
  overflow: hidden;
}
.container {
  width: 1140px;
  max-width: 94%;
  margin: 0 auto;
  position: relative;
}

hr {
  height: 0;
  border: 0;
  clear: both;
  font-size: 0;
  display: block;
  overflow: hidden;
}

article, aside, figure, footer, header, nav, section {display: block}
button {background: rgba(255, 255, 255, 0); border: medium none}
h1, h2, h3, h4, h5 {font-weight: normal}
td {vertical-align: middle}
table {border-spacing: 0}
ol, ul {list-style: none}
mark {background: none}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

a {
  color: $cl;
  @extend .ani;
  outline: 0 none;
  text-decoration: none;
  &:hover {
    outline: 0 none;
    text-decoration: none;
  }
  > img {border: 0}
}

input:not([type="radio"]):not([type="checkbox"]), select, textarea {
  width: 100%;
  @extend .ani;
  outline: 0 none;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
}
input[type="submit"], input[type="button"] {
  width: auto;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}
input, textarea {@include placeholder {color: $tx; opacity: 1}}

// selection
::-moz-selection {color: #fff; background: $cl}
::selection {color: #fff; background: $cl}
::-moz-focus-inner {border: 0}
:focus {outline: none}


// fullframe video
.fullframe {height: 0;margin: 0;overflow: hidden;padding-bottom: 56.5%;position: relative;z-index: 0;
  > {
    iframe, object, embed {height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: -1}
  }
}


// wp content
.alignleft {float: left}
.alignright {float: right}
.aligncenter {margin-left: auto; margin-right: auto}

.content {
  img {
    &.alignleft {margin: 0 1.5em 1.5em 0}
    &.alignright {margin: 0 0 1.5em 1.5em}
    &.alignnone {
      margin: 0;
      display: inline-block;
      vertical-align: baseline;
    }
  }
}


// flex classes
.flex {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
}
.flex_start {
  @include flexbox();
  @include align-items(flex-start);
  @include justify-content(space-between);
}
