// base classes

.aparent {
  @extend .flex_start;
  article {@include flex(1)}
  aside {
    width: 350px;
    max-width: 100%;
    margin-left: 3.5%;
  }
}

// swiper controls
.swiper-container {
  .custom_prev, .custom_next {
    @extend %ani;
    @include center(false, true);
    font-size: rem(54);
    color: #fff;
    cursor: pointer;
    z-index: 1;
    &.swiper-button-disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
  .custom_prev {left: rem(30)}
  .custom_next {right: rem(30)}
  .swiper-pagination {
    bottom: 30px !important;
    .swiper-pagination-bullet {
      background: transparent;
      border: 1px solid $cl;
      opacity: 1;
      &:hover, &.swiper-pagination-bullet-active {
        background: $cl;
        opacity: 1;
      }
    }
  }
}


// cf7
div.wpcf7 {
  position: relative;
  .inputs_wrap {
    @include flexbox;
    @include justify-content(space-between);
    > * {@include flex-basis(48%)}
  }
  .wpcf7-form-control-wrap {
    display: block !important;
    margin-bottom: rem(20);
    position: relative;
    &.is_active {box-shadow: 0 1px #ccc}
  }
  .wpcf7-not-valid-tip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    font: 400 16px/40px $ff;
    color: $tx;
    padding: 0;
    background: #fff;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #ff5f5f;
    cursor: pointer;
  }
  .wpcf7-response-output {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font: 400 16px/1.4 $ff;
    color: #fff;
    padding: rem(7) rem(10);
    border-radius: 0;
    text-align: center;
    &.wpcf7-mail-sent-ng {background: #1091ae; position: relative}
    &.wpcf7-mail-sent-ok {background: #16a085; position: relative}
    &.wpcf7-validation-errors, &.wpcf7-spam-blocked {background: #ff5f5f; position: relative}
  }
  input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]), textarea {
    display: block;
    height: 40px;
    font: 400 16px $ff;
    color: $tx;
    background: #fff;
    padding: 0;
    border: 0;
    border-bottom: 2px solid $cl;
    @include placeholder {color: $tx; opacity: 1}
  }
  textarea {
    @include transition(none 0.25s ease);
    resize: none;
    overflow: hidden;
    min-height: 40px;
    line-height: 40px;
  }
  button.button {
    margin: rem(15) 0 rem(20);
    & + input {display: none}
  }
  .ajax-loader {
    @extend %ani;
    @include prefixer(animation, swiper-preloader-spin 1s infinite linear);
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 -48px 0 24px;
    border-radius: 100%;
    border: 2px solid #f1f1f1;
    border-top: 3px solid $cl;
    opacity: 0;
    visibility: hidden;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
  .screen-reader-response {display: none}
}


// pager
.wp-pagenavi {
  margin-top: rem(80);
  > * {
    display: inline-block;
    font: 400 18px/36px $ff;
    color: #acacac;
    background: transparent;
    border: 3px solid #acacac;
    width: 42px;
    margin: 0 5px;
    text-align: center;
    //border-radius: 50%;
  }
  a:hover {
    background: $cl;
    border-color: $cl;
    color: #fff;
  }
  .current {
    background: $cl;
    border-color: $cl;
    color: #fff;
    cursor: default;
  }
  .first, .last {font-size: 14px}
  //.extend {display: none}
}


// social media
.some {
  a {
    display: inline-block;
    vertical-align: top;
    font-size: 19px;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0 5px;
    position: relative;
    z-index: 0;
    &:after {
      @extend %ani;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0;
      background: #fff;
      z-index: -1;
    }
    &:hover:after {
      right: auto;
      left: 0;
      width: 100%;
    }
    &.i_ggl {
      //font-size: 16px;
      background: #db4437;
      &:hover {color: #db4437}
    }
    &.i_fcbk {
      background: #3b5998;
      &:hover {color: #3b5998}
    }
    &.i_twttr {
      background: #1da1f2;
      &:hover {color: #1da1f2}
    }
    &.i_lnkdn {
      background: #0177b5;
      &:hover {color: #0177b5}
    }
    &.i_tb {
      background: #cc181e;
      &:hover {color: #cc181e}
    }
    &.i_pntrst {
      background: #d50c22;
      &:hover {color: #d50c22}
    }
    &.i_nstgrm {
      background: #be3094;
      &:hover {color: #be3094}
    }
    &.i_lp {
      background: #c62221;
      &:hover {color: #c62221}
    }
  }
}


// share buttons
.shrs {
  a {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    color: #3ddde4;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    &:hover {color: #fff}
    &.i_ggl:hover {background: #db4437}
    &.i_fcbk:hover {background: #3b5998}
    &.i_twttr:hover {background: #1da1f2}
    &.i_lnkdn:hover {background: #0177b5}
    &.i_pntrst:hover {background: #d50c22}
  }
}
