// theme classes


// flex classes
.flex {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
}
.flex__rwd {
  @include rwd-min(1025) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }
}
.flex__mob {
  @include rwd-min(768) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }
}

.flex_start {
  @include flexbox;
  @include align-items(flex-start);
  @include justify-content(space-between);
}
.flex_start__rwd {
  @include rwd-min(1025) {
    @include flexbox;
    @include align-items(flex-start);
    @include justify-content(space-between);
  }
}
.flex_start__mob {
  @include rwd-min(768) {
    @include flexbox;
    @include align-items(flex-start);
    @include justify-content(space-between);
  }
}

.flex_center {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}
.flex_center__rwd {
  @include rwd-min(1025) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
}
.flex_center__mob {
  @include rwd-min(768) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
}



// 12_column grid
.flex_grid {
  @include flexbox;
  margin: 0 calc(var(--grid-gap) / -2);
  > * {margin: 0 calc(var(--grid-gap)/2)}
}
.flex_grid__rwd {
  @include rwd-min(1025) {
    @include flexbox;
    margin: 0 calc(var(--grid-gap) / -2);
    > * {margin: 0 calc(var(--grid-gap)/2)}
  }
}
.flex_grid__mob {
  @include rwd-min(768) {
    @include flexbox;
    margin: 0 calc(var(--grid-gap) / -2);
    > * {margin: 0 calc(var(--grid-gap)/2)}
  }
}
[class*="flex_grid"] {
  --grid-gap: 20px;
  @include flex-wrap(wrap);
  margin-bottom: calc(var(--grid-gap) * -1);
  &._nowrap {@include flex-wrap(nowrap)}
  > * {
    @include flex(1);
    margin-bottom: calc(var(--grid-gap));
    &._col_1 {@include flex(0 0 calc(100%/12 - var(--grid-gap)))}
    &._col_2 {@include flex(0 0 calc(100%/12*2 - var(--grid-gap)))}
    &._col_3 {@include flex(0 0 calc(100%/12*3 - var(--grid-gap)))}
    &._col_4 {@include flex(0 0 calc(100%/12*4 - var(--grid-gap)))}
    &._col_5 {@include flex(0 0 calc(100%/12*5 - var(--grid-gap)))}
    &._col_6 {@include flex(0 0 calc(100%/12*6 - var(--grid-gap)))}
    &._col_7 {@include flex(0 0 calc(100%/12*7 - var(--grid-gap)))}
    &._col_8 {@include flex(0 0 calc(100%/12*8 - var(--grid-gap)))}
    &._col_9 {@include flex(0 0 calc(100%/12*9 - var(--grid-gap)))}
    &._col_10 {@include flex(0 0 calc(100%/12*10 - var(--grid-gap)))}
    &._col_11 {@include flex(0 0 calc(100%/12*11 - var(--grid-gap)))}
    &._col_12 {@include flex(0 0 calc(100% - var(--grid-gap)))}
    @include rwd-max(1024) {
      &.__rwd {@include flex(1)}
      &.__25_rwd {@include flex(0 0 calc(25% - var(--grid-gap)))}
      &.__33_rwd {@include flex(0 0 calc(33.333% - var(--grid-gap)))}
      &.__50_rwd {@include flex(0 0 calc(50% - var(--grid-gap)))}
      &.__full_rwd {@include flex(0 0 calc(100% - var(--grid-gap)))}
    }
    @include rwd-max(767) {
      &.__mob {@include flex(1)}
      &.__25_mob {@include flex(0 0 calc(25% - var(--grid-gap)))}
      &.__33_mob {@include flex(0 0 calc(33.333% - var(--grid-gap)))}
      &.__50_mob {@include flex(0 0 calc(50% - var(--grid-gap)))}
      &.__full_mob {@include flex(0 0 calc(100% - var(--grid-gap)))}
    }
  }
}



// useful classes
.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.last_no_spacing > *:last-child:not(.button) {
  margin-bottom: 0;
  padding-bottom: 0;
}

.rwd_show {
  @include rwd-min(1025) {display: none !important}
}
.rwd_hide {
  @include rwd-max(1024) {display: none !important}
}

.mob_show {
  @include rwd-min(768) {display: none !important}
}
.mob_hide {
  @include rwd-max(767) {display: none !important}
}



// fullframe video
.full_frame {height: 0;margin: 0;overflow: hidden;padding-bottom: 56.5%;position: relative;z-index: 0;
  > {
    iframe, object, embed {height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: -1}
  }
}
