// theme classes


// flex classes
.flex {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
}
.flex__rwd {
  @include rwd-min(1025) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }
}
.flex__mob {
  @include rwd-min(768) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }
}

.flex_start {
  @include flexbox;
  @include align-items(flex-start);
  @include justify-content(space-between);
}
.flex_start__rwd {
  @include rwd-min(1025) {
    @include flexbox;
    @include align-items(flex-start);
    @include justify-content(space-between);
  }
}
.flex_start__mob {
  @include rwd-min(768) {
    @include flexbox;
    @include align-items(flex-start);
    @include justify-content(space-between);
  }
}

.flex_center {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}
.flex_center__rwd {
  @include rwd-min(1025) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
}
.flex_center__mob {
  @include rwd-min(768) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
}



// useful classes
.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.last_no_spacing > *:last-child:not(.button) {
  margin-bottom: 0;
  padding-bottom: 0;
}

.rwd_show {
  @include rwd-min(1025) {display: none !important}
}
.rwd_hide {
  @include rwd-max(1024) {display: none !important}
}

.mob_show {
  @include rwd-min(768) {display: none !important}
}
.mob_hide {
  @include rwd-max(767) {display: none !important}
}



// swiper controls
.swiper-container {
  .custom_prev, .custom_next {
    @extend %ani;
    @include center(false, true);
    font-size: rem(54);
    color: #fff;
    cursor: pointer;
    z-index: 1;
    &.swiper-button-disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
  .custom_prev {left: rem(30)}
  .custom_next {right: rem(30)}
  .swiper-pagination {
    bottom: 30px !important;
    .swiper-pagination-bullet {
      opacity: 1;
      border: 1px solid $cl;
      background: transparent;
      @include hover {
        opacity: 1;
        background: $cl;
      }
      &.swiper-pagination-bullet-active {
        opacity: 1;
        background: $cl;
      }
    }
  }
}



// cf7
div.wpcf7 {
  position: relative;
  .inputs_wrap {
    @include flexbox;
    @include justify-content(space-between);
    > * {@include flex-basis(48%)}
  }
  .wpcf7-form-control-wrap {
    display: block;
    margin-bottom: rem(20);
    position: relative;
    &.is_active {box-shadow: 0 1px 3px #ccc}
  }
  .wpcf7-not-valid-tip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    font: 400 16px/40px $ff;
    color: $tx;
    padding: 0;
    background: #fff;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #ff5f5f;
    cursor: pointer;
  }
  .wpcf7-response-output {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font: 400 16px/1.4 $ff;
    color: #fff;
    padding: rem(7) rem(10);
    border-radius: 0;
    text-align: center;
    &.wpcf7-mail-sent-ng {background: #1091ae; position: relative}
    &.wpcf7-mail-sent-ok {background: #16a085; position: relative}
    &.wpcf7-validation-errors, &.wpcf7-spam-blocked {background: #ff5f5f; position: relative}
  }
  input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]), textarea {
    display: block;
    height: 40px;
    font: 400 16px $ff;
    color: $tx;
    background: #fff;
    padding: 0;
    border: 0;
    border-bottom: 2px solid $cl;
    @include placeholder {color: $tx; opacity: 1}
  }
  textarea {
    @include transition(none);
    resize: none;
    overflow: hidden;
    min-height: 40px;
    line-height: 40px;
  }
  button.button {
    margin: rem(15) 0 rem(20);
    & + input {display: none}
  }
  .ajax-loader {
    @extend %ani;
    @include prefixer(animation, swiper-preloader-spin 1s infinite linear);
    width: rem(24);
    height: rem(24);
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 100%;
    border: rem(2) solid #f1f1f1;
    border-top: rem(3) solid $cl;
    opacity: 0;
    visibility: hidden;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
  .screen-reader-response {display: none}
}



// pager
.wp-pagenavi {
  margin-top: rem(80);
  > * {
    display: inline-block;
    font: 400 18px/36px $ff;
    color: #acacac;
    background: transparent;
    border: 3px solid #acacac;
    width: 42px;
    margin: 0 5px;
    text-align: center;
    //border-radius: 50%;
  }
  a {
    @include hover {
      color: #fff;
      background: $cl;
      border-color: $cl;
    }
  }
  .current {
    color: #fff;
    background: $cl;
    border-color: $cl;
    cursor: default;
  }
  .first, .last {font-size: 14px}
  //.extend {display: none}
}



// social media + share buttons
.so_me, .shrs {
  a {
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 32px;
    font-size: 20px;
    line-height: 36px;
    margin: 0 rem(6);
    text-align: center;
    position: relative;
    z-index: 0;
    &:after {
      @extend %ani;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      z-index: -1;
    }
    @include hover {
      &:after {height: 100%}
    }
  }
}

.so_me {
  a {
    color: #fff;
    &:after {background: #fff}
    &.i_ggl { @include hover {color: #db4437} }
    &.i_fcbk { @include hover {color: #4267b2} }
    &.i_twttr { @include hover {color: #1da1f2} }
    &.i_lnkdn { @include hover {color: #0177b5} }
    &.i_nstgrm { @include hover {color: #be3094} }
    &.i_tb { @include hover {color: #cc181e} }
    &.i_vm { @include hover {color: #01b3ef} }
    &.i_skp { @include hover {color: #02aff3} }
    &.i_pntrst { @include hover {color: #d50c22} }
    &.i_drbbl { @include hover {color: #dd3e7b} }
    &.i_email { @include hover {color: #39c4ad} }
    &.i_fd { @include hover {color: #f8991b} }
    &.i_lp { @include hover {color: #c62221} }
  }
}

.shrs {
  a {
    color: $tx;
    @include hover {color: #fff}
    &.i_ggl:after {background: #db4437}
    &.i_fcbk:after {background: #4267b2}
    &.i_twttr:after {background: #1da1f2}
    &.i_lnkdn:after {background: #0177b5}
    &.i_pntrst:after {background: #d50c22}
  }
}
