// css applications

// custom hamburger
$h_bar_thickness: 1px;
$h_color: #000;
$h_spacing: 10px;
$h_padding: 15px;
$h_height: 60px;
$h_width: 60px;

$h_active_padding: 10px;
$h_active_spacing: 10px;

$h_bg_static: null !default;
$h_bg_active: null !default;

.nav_icon {
  @extend .ani;
  @include transform( translateY(-50%) rotate(0deg) );
  position: absolute;
  right: 3%;
  top: 50%;
  display: none;
  height: $h_height;
  width: $h_width;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  appearance: none;
  box-shadow: none;
  outline: none;
  border: none;
  z-index: 10;
  @include rwd(1024) {display: block}
  @if $h_bg_static != null {
    background: $h_bg_static;
  }
  i {
    top: ($h_height / 2) - ($h_bar_thickness / 2) - $h_spacing;
    @include transition( all .25s ease-in-out );
    @include transform( rotate(0deg) );
    height: $h_bar_thickness;
    background: $h_color;
    position: absolute;
    right: $h_padding;
    left: $h_padding;
    display: block;
    opacity: 1;
    &:nth-child(2) {
      top: ($h_height / 2) - ($h_bar_thickness / 2)
    }
    &:nth-child(3) {
      top: ($h_height / 2) - ($h_bar_thickness / 2) + $h_spacing
    }
  }
  &.is_active {
    @if $h_bg_active != null {
      background: $h_bg_active;
    }
    i {
      left: $h_active_padding;
      right: $h_active_padding;
      &:nth-child(1) {
        @include transform( rotate(135deg) );
        top: ($h_height / 2) - ($h_bar_thickness / 2)
      }
      &:nth-child(2) {
        @include transform( translate3d(-100%, 0, 0) );
        opacity: 0;
      }
      &:nth-child(3) {
        @include transform( rotate(-135deg) );
        top: ($h_height / 2) - ($h_bar_thickness / 2)
      }
    }
  }
}


//loader
$load_yellow: yellow;
$load_green: green;
$load_blue: blue;
$load_red: red;

// scaling... any units
$load_width: 40px;

.showbox {
  @extend .ani;
  @include center();
  position: fixed;
  display: inline-block;
  vertical-align: top;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  z-index: 98989;
  &.is_loading {
    visibility: visible;
    opacity: 1
  }
  .loader {
    position: relative;
    margin: 0 auto;
    width: $load_width;
    &:before {
      content:'';
      display: block;
      padding-top: 100%;
    }
  }
  .circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
  }
  .path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation:
        dash 1.5s ease-in-out infinite,
        color 3s ease-in-out infinite
  ;
    animation:
        dash 1.5s ease-in-out infinite,
        color 3s ease-in-out infinite
  ;
    stroke-linecap: round;
  }
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color{
  100%, 0%{
    stroke: $load_red;
  }
  40%{
    stroke: $load_blue;
  }
  66%{
    stroke: $load_green;
  }
  80%, 90%{
    stroke: $load_yellow;
  }
}


// custom select
.selbel_w {
  position: relative;
  display: block;
  width: 100%;
  font: 400 14px/40px $ff;
  height: 40px;
  select {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-appearance: menulist-button;
    + span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      color: #555;
      padding: 0 10px;
      border-radius: 5px;
      border: 1px solid #eee;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 5px 0 5px;
        border-color: #555 transparent transparent transparent;
        position: absolute;
        right: 13px;
        top: 16px;
      }
      &.err {border-color: #ef4036}
    }
    option {padding: 5px}
  }
}


// ripple effect
.ripple {
  overflow: hidden;
  position: relative;
  z-index: 0;
}
@include keyframes(ripple-animation) {
  from {
    @include transform(scale(1));
    opacity: 0.6;
  }
  to {
    @include transform(scale(50));
    opacity: 0;
  }
}
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background: #337a82;
  z-index: -1;
  @include animation(ripple-animation 1.1s);
}
