// style guide

.button {
  @extend %ani;
  display: inline-block;
  vertical-align: middle;
  font: 400 16px/19px $ff;
  color: #fff;
  padding: 10px 35px;
  text-align: center;
  background-color: $cl;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  @include hover {
    color: $cl;
    background-color: #fff;
  }
  &[disabled],
  &.is_disabled {pointer-events: none}
  & + .button {margin-left: 7px}
}
.link {
  box-shadow: 0 1px;
  @include hover {box-shadow: 0 0}
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
    @include hover {color: $cl}
  }
}

h1, .h1 {}
h2, .h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {
  padding-bottom: 20px;
  &.j_empty {padding-bottom: 0}
}

small, sub {
  display: inline-block;
  vertical-align: baseline;
  font-size: 87.5%;
}

figure {
  a {
    display: block;
    @include hover {opacity: 0.75}
  }
}

.content {
  p, li {
    a:not(.button) {@extend .link}
  }
  li:not(:last-child) {padding-bottom: 10px}
  ul, ol {padding-bottom: 20px}
  ul:not(.blocks-gallery-grid) {
    li {
      padding-left: rem(18);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 9px;
        width: 5px;
        height: 5px;
        background: $tx;
        border-radius: 50%;
      }
    }
  }
  img {
    &.alignnone {margin: 0 0 rem(21)}
    &.aligncenter {margin: 0 auto rem(21)}
    &.alignleft {
      float: left;
      margin: 0 rem(21) rem(21) 0;
    }
    &.alignright {
      float: right;
      margin: 0 0 rem(21) rem(21);
    }
  }
}


[class^="i_"] {
  display: inline-block;
  vertical-align: middle;
}


// social media + share buttons
.so_me, .shrs {
  a {
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 32px;
    font-size: 20px;
    line-height: 36px;
    margin: 0 rem(6);
    text-align: center;
    position: relative;
    z-index: 0;
    &:after {
      @extend %ani;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      z-index: -1;
    }
    @include hover {
      &:after {height: 100%}
    }
  }
}
.so_me {
  a {
    color: #fff;
    &:after {background: #fff}
    &.i_ggl { @include hover {color: #db4437} }
    &.i_fcbk { @include hover {color: #4267b2} }
    &.i_twtr { @include hover {color: #1da1f2} }
    &.i_lnkdn { @include hover {color: #0177b5} }
    &.i_inst { @include hover {color: #be3094} }
    &.i_ytb_play { @include hover {color: #cc181e} }
    &.i_vmo { @include hover {color: #01b3ef} }
    &.i_skp { @include hover {color: #02aff3} }
    &.i_pntrst { @include hover {color: #d50c22} }
    &.i_drbbbl { @include hover {color: #dd3e7b} }
    &.i_envelope { @include hover {color: #39c4ad} }
    &.i_ylp { @include hover {color: #c62221} }
  }
}
.shrs {
  a {
    color: $tx;
    @include hover {color: #fff}
    &.i_ggl:after {background: #db4437}
    &.i_fcbk:after {background: #4267b2}
    &.i_twtr:after {background: #1da1f2}
    &.i_lnkdn:after {background: #0177b5}
    &.i_pntrst:after {background: #d50c22}
  }
}


// wp html5 video
.wp-block-video {
  [poster] {object-fit: cover}
  video {max-width: 100%}
}

// full-frame video
.full_frame {height: 0;margin: 0;overflow: hidden;padding-bottom: 56.5%;position: relative;z-index: 0;
  > {
    iframe, object, embed {height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: -1}
  }
}
