// plugins: swiper, cf7, etc.

// swiper controls
.swiper-slide {box-sizing: border-box}
.sw_controls {
  @include center(false, true);
  left: 0;
  right: 0;
  z-index: 1;
}
.sw_prev,
.sw_next {
  @extend %ani;
  @include center(false, true);
  font-size: rem(54);
  color: #fff;
  cursor: pointer;
  &.swiper-button-disabled {
    opacity: 0.4;
    cursor: default;
  }
}
.sw_prev {left: 0}
.sw_next {right: 0}
.sw_pagination {
  text-align: center;
  bottom: 0 !important;
  .swiper-pagination-bullet {
    @extend %ani;
    opacity: 1;
    border: 1px solid $cl;
    background: transparent;
    @include hover {
      opacity: 1;
      background: $cl;
    }
    &.swiper-pagination-bullet-active {
      opacity: 1;
      background: $cl;
    }
  }
}




// custom select
$selectric-main-color:      #ddd !default;                                              // Color used in border
$selectric-text-color:      #232323 !default;                                           // Color used in label
$selectric-bg-color:        #f8f8f8 !default;                                           // Background color
$selectric-height:          40px !default;                                              // Outer height
$selectric-spacing:         15px !default;                                              // Label left padding
$selectric-border-width:    1px !default;                                               // Outer border width
$selectric-border-radius:   0 !default;                                                 // Border radius
$selectric-inner-height:    $selectric-height - ($selectric-border-width * 2) !default; // Inner height
$selectric-font-size:       14px !default;                                              // Font size

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {width: 100%}

.selectric {
  border: $selectric-border-width solid $selectric-main-color;
  border-radius: $selectric-border-radius;
  background: $selectric-bg-color;
  position: relative;
  overflow: hidden;

  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 $selectric-inner-height 0 $selectric-spacing;
    font-size: $selectric-font-size;
    line-height: $selectric-inner-height;
    color: $selectric-text-color;
    height: $selectric-inner-height;
    user-select: none;
  }

  .select_arrow {
    @include center(false, true);
    right: 21px;
    &:after, &:before {
      @extend %ani;
      content: '';
      position: absolute;
      top: 50%;
      width: 11px;
      height: 2px;
      background: #232323;
    }
    &:after {
      left: -2px;
      @include transform(translate(0, -50%) rotate(-45deg));
    }
    &:before {
      right: -2px;
      @include transform(translate(0, -50%) rotate(45deg));
    }
  }

}

.selectric-open {
  z-index: 9999;

  .selectric-items {display: block}
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;

  select {
    position: absolute;
    left: -100%;
  }

  &.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0;
    }
  }
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: $selectric-bg-color;
  border: 1px solid darken($selectric-main-color, 10%);
  z-index: -1;
  box-shadow: 0 0 10px -6px;

  .selectric-scroll {
    height: 100%;
    overflow: auto;
  }

  .selectric-above & {
    top: auto;
    bottom: 100%;
  }

  ul, li {
    font-size: $selectric-font-size;
    line-height: 20px;
    min-height: 20px;
  }

  li {
    @extend %ani;
    display: block;
    padding: 10px;
    color: $tx;
    background: #eee;
    cursor: pointer;

    @include hover {background: $cl}

    &.selected, &.highlighted {background: $cl}
  }

  .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    user-select: none;
  }

  .selectric-group {
    .selectric-group-label {
      font-weight: bold;
      padding-left: 10px;
      cursor: default;
      user-select: none;
      background: none;
      color: #444;
    }

    &.disabled li {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    li {
      padding-left: 25px;
    }
  }
}




// cf7
div.wpcf7 {
  position: relative;
  .inputs_wrap {
    @extend .flex__mob;
    > * { @include rwd-min(768) {width: 48%} }
  }
  .wpcf7-form-control-wrap {
    display: block;
    margin-bottom: rem(20);
    position: relative;
    &.is_active {box-shadow: 0 1px 3px #ff0}
  }
  .wpcf7-not-valid-tip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    font: 400 16px/40px $ff;
    color: #ff694e;
    background: #fff;
    border-radius: 0;
    padding: 0 rem(15);
    border: 1px solid #ff694e;
    cursor: pointer;
  }
  .wpcf7-response-output {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font: 400 16px/1.4 $ff;
    color: #fff;
    padding: rem(12);
    border-radius: 0;
    text-align: center;
    &.wpcf7-mail-sent-ng {background: #1091ae; position: relative}
    &.wpcf7-mail-sent-ok {background: #80c684; position: relative}
    &.wpcf7-validation-errors, &.wpcf7-spam-blocked {background: #ff694e; position: relative}
  }
  input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]), textarea {
    display: block;
    height: 40px;
    font: 400 16px $ff;
    color: $tx;
    background: #fff;
    padding: 0 rem(15);
    border: 1px solid $cl;
    @include placeholder {color: $tx; opacity: 1}
  }
  textarea {
    height: 120px;
    resize: none;
    overflow: auto;
    padding: rem(15);
  }
  button.button {
    & + input {display: none}
  }
  .ajax-loader {
    @extend %ani;
    @include prefixer(animation, swiper-preloader-spin 1s infinite linear);
    width: rem(24);
    height: rem(24);
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 100%;
    border: 2px solid #f1f1f1;
    border-top: 3px solid $cl;
    opacity: 0;
    visibility: hidden;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
  .screen-reader-response {display: none}
}




// pager
.wp-pagenavi {
  margin-top: rem(80);
  > * {
    display: inline-block;
    font: 400 18px/36px $ff;
    color: #acacac;
    background: transparent;
    border: 3px solid #acacac;
    width: 42px;
    margin: 0 5px;
    text-align: center;
    //border-radius: 50%;
  }
  a {
    @include hover {
      color: #fff;
      background: $cl;
      border-color: $cl;
    }
  }
  .current {
    color: #fff;
    background: $cl;
    border-color: $cl;
    cursor: default;
  }
  .first, .last {font-size: 14px}
  //.extend {display: none}
}