// header + main_menu

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 1px 5px $shadow;
  z-index: 9;

  .container {
    height: 60px;
    position: static;
    @include rwd-min(1025) {height: 80px}
  }

  .logo {
    img {
      width: 40px;
      @include rwd-min(1025) {width: 60px}
    }
  }
}

#menu {
  @extend %ani;

  @include rwd-min(1025) {margin-left: auto}
  @include rwd-max(1024) {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 35px 24px 0;
    background-color: $cl;
    z-index: 2;
    @include transform(translateX(101%));
    &.is_open {@include transform(translateX(0))}
  }
  @include rwd-range(1024, 768) {width: 50%}
  @include rwd-range(1024, 481) {
    padding-left: 39px;
    padding-right: 39px;
  }
  @include rwd-max(767) {width: 100%}

  > ul {
    @include rwd-max(1024) {padding-bottom: 25px}

    > li {
      @include rwd-min(1200) {margin-right: 70px}
      @include rwd-range(1199, 1025) {margin-right: 40px}
      @include rwd-min(1025) {
        position: relative;
        z-index: 1;
      }
      @include rwd-max(1024) {
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 10px;
        & > a,
        & > .empty_link {padding: 7px 0}
      }
    }
  }

  li {
    font-weight: 400;

    &.current-menu-item,
    &.current-menu-parent {
      & > a,
      & > span {
        @include rwd-min(1025) {text-decoration: underline}
        @include rwd-max(1024) {color: $tx}
      }
    }

    &.menu-item-has-children {
      position: relative;
      z-index: 0;
      @include rwd-min(1025) {
        &:before {
          //background-color: #000;
          content: '';
          display: none;
          position: absolute;
          top: -28px;
          height: 100px;
        }

        & > a,
        & > .empty_link {position: relative}

        &:hover {
          &:before {display: block}

          & > .sub-menu {
            opacity: 1;
            pointer-events: all;
            @include transform(translateY(0));
          }
        }
      }
      @include rwd-min(1200) {
        &:before {
          left: -80px;
          right: -80px;
        }
      }
      @include rwd-range(1199, 1025) {
        &:before {
          left: -50px;
          right: -50px;
        }
      }
      @include rwd-max(1024) {
        & > a + span,
        & > .empty_link + span {
          position: absolute;
          top: 0;
          right: 0;
          width: 50px;
          height: 42px;
          cursor: pointer;
          z-index: 2;

          &:after, &:before {
            content: '';
            @include transition();
            @include transform(translate(-50%,-50%));
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #fff;
          }

          &:after {
            width: 16px;
            height: 2px;
          }

          &:before {
            width: 2px;
            height: 16px;
          }

          &.is_open {
            &:after {@include transform(translate(-50%,-50%) rotate(180deg))}
            &:before {@include transform(translate(-50%,-50%) rotate(90deg))}
          }
        }

        &.current-menu-item,
        &.current-menu-parent {
          & > a + span,
          & > span + span {
            &:after, &:before {background-color: $tx}
          }
        }
      }
    }
  }

  a {
    color: #fff;
    @include hover {color: $tx}
    @include rwd-min(1025) {
      color: $tx;
      &:hover {color: $cl}
    }
    @include rwd-max(1024) {display: inline-block}
  }

  .empty_link {
    color: #fff;
    @include rwd-min(1025) {color: $tx}
    @include rwd-max(1024) {display: inline-block}
  }

  .sub-menu {
    @include rwd-min(1025) {
      @include transition();
      @include transform(translateY(5px));
      position: absolute;
      top: 52px;
      min-width: 140px;
      padding: 15px 20px 7px;
      background-color: #fff;
      box-shadow: 0 6px 5px $shadow;
      opacity: 0;
      pointer-events: none;
      z-index: 3;
    }
    @include rwd-min(1200) {left: -35px}
    @include rwd-range(1199, 1025) {left: -20px}

    @include rwd-max(1024) {
      display: none;
      padding: 5px 0 0 25px;
    }

    li {
      @include rwd-min(1025) {
        white-space: nowrap;
        margin-bottom: 10px;
      }
      @include rwd-max(1024) {text-transform: none}
    }

    a,
    .empty_link {
      @include rwd-max(1024) {padding: 5px 0}
    }
  }
}


.search_toggle {
  @extend .flex_center;
  font-size: 18px;
  color: $tx;
  position: relative;
  z-index: 1;
  @include hover {color: $cl}
  @include rwd-min(1025) {@include order(1)}
  @include rwd-max(1024) {margin-right: 60px}
}


#search_field {
  display: none;
  padding: 0;
  background-color: transparent;

  form {position: relative}

  input {
    height: 48px;
    border: none;
    font: 400 24px $ff2;
    color: #fff;
    padding-right: 50px;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    @include rwd-min(768) {
      height: 54px;
      font-size: 28px;
      padding-right: 56px;
    }
    @include placeholder {color: #fff; opacity: 1}
  }

  button {
    @extend %ani;
    @include center(false, true);
    right: 0;
    width: 48px;
    height: 48px;
    color: #fff;
    text-align: center;
    box-shadow: inset 0 0 0 0 transparent;
    cursor: pointer;
    @include rwd-min(768) {
      width: 54px;
      height: 54px;
    }

    &:before {
      font-size: 24px;
      line-height: 48px;
      @include rwd-min(768) {
        font-size: 28px;
        line-height: 54px;
      }
    }

    @include hover {box-shadow: inset 0 0 0 2px #fff}
  }
}

.skip_to_content {
  @include transition(none);
  @include transform(translate(-110%, -110%));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  &:focus,
  &:focus-visible {@include transform(translate(10px, 10px))}
}