// reset

* {
  margin: 0;
  padding: 0;
  outline: 0 none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
*, *:before, *:after {box-sizing: inherit}

html, body {margin: 0; height: 100%}

html {
  font: 300 #{$fb / 1.333333333334}/1.5 $ff;
  box-sizing: border-box;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  @include rwd-min(768) {font-size: $fb}
}
body {
  @include flexbox;
  @include flex-direction(column);
  min-height: 100vh;
  font-size: $fb;
  color: $tx;
  background-color: #fff;
  @include rwd-max(1024) { &.is_overflow {overflow: hidden} }
}
#main {
  @include flex(1, 0, auto);
  overflow: hidden;
  margin-top: 60px;
  @include rwd-min(1025) {margin-top: 80px}
}
.container {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
  position: relative;
  @include rwd-range(1024, 481) {max-width: calc(100% - 78px)}
  @include rwd-min(1025) {max-width: calc(100% - 144px)}
  &.is_smaller {
    width: 630px;
    @include rwd-min(1025) {width: 730px}
  }
}

article, aside, figure, footer, header, nav, section {display: block}
button {background: rgba(255, 255, 255, 0); border: medium none}
ol {list-style-position: inside}
strong, b {font-weight: 700}
td {vertical-align: middle}
table {border-spacing: 0}
mark {background: none}
ul {list-style: none}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

a {
  @extend %ani;
  color: $cl;
  outline: 0 none;
  text-decoration: none;
  @include hover {
    outline: 0 none;
    text-decoration: none;
  }
  > img {border: 0}
}

input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]), select, textarea {
  @extend %ani;
  width: 100%;
  outline: 0 none;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  &:-webkit-autofill {
    -webkit-text-fill-color: $tx !important;
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  }
}
input[type="submit"],
input[type="button"] {
  width: auto;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}
input, textarea {@include placeholder {color: $tx; opacity: 1}}

// selection
::selection {color: #fff; background-color: $cl}
::-moz-selection {color: #fff; background-color: $cl}

// custom scrollbar - chrome
html::-webkit-scrollbar {
  width: 6px;
  @include rwd-min(1025) {width: 8px}
}
::-webkit-scrollbar-thumb {background-color: $cl}
::-webkit-scrollbar-track {background-color: #eaeaea}
::-webkit-scrollbar-thumb:hover {background-color: darken($cl, 5%)}
::-webkit-scrollbar-thumb:active {background-color: darken($cl, 5%)}
// custom scrollbar - firefox
:root {
  scrollbar-width: thin;
  scrollbar-color: $cl #eaeaea;
}

// disable default focus
:focus {outline: 0 none}
// enable focus for tabbable elements
a[href], area[href], input:not([disabled]):not([type="hidden"]), select:not([disabled]), textarea:not([disabled]), button:not([disabled]), iframe, object, embed, [tabindex="0"], [contenteditable], audio[controls], video[controls], summary, [tabindex^="0"], [tabindex^="1"], [tabindex^="2"], [tabindex^="3"], [tabindex^="4"], [tabindex^="5"], [tabindex^="6"], [tabindex^="7"], [tabindex^="8"], [tabindex^="9"] {
  &:focus,
  &:focus-visible {
    @include transition(none);
    outline: 2px dashed $cl;
  }

  .is_using_mouse & {
    &:focus,
    &:focus-visible {outline: 0 none}
  }
}

// option to control colors with system color scheme
//@media (prefers-color-scheme: dark) {
//  body {
//    color: #fff;
//    background-color: $tx;
//  }
//}
//@media (prefers-color-scheme: light) {
//  body {
//    color: $tx;
//    background-color: #fff;
//  }
//}