// social media + share buttons
.shrs,
.so_me {
  margin: 0 -10px;

  li {
    display: inline-flex;
    vertical-align: middle;
    margin: 0 10px;
  }

  a {
    font-size: 24px;
    line-height: 0.8;
    color: $cl;
  }
}

.shrs {
  a {
    @include hover {color: $tx}
  }
}

.so_me {
  a {
    @include hover {color: #fff}
  }
}
