// tpl-parts

// top-panel
.top_panel {
  &__primary {
    padding: 70px 0;
  }

  &__secondary {
    padding: 50px 0;
  }

  &__default {
    padding: 35px 0 20px;
  }
}

.top_panel__primary,
.top_panel__secondary {
  @extend .bg;
  @include flexbox();
  @include align-items(center);
  min-height: 290px;
  margin-bottom: 20px;
  position: relative;
  @include rwd-min(768) {
    min-height: 480px;
    margin-bottom: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $shadow;
  }

  h1 {color: #fff}
}


// default page
.default_page {
  padding: 30px 0 60px;
}


// social media + share buttons
.shrs,
.so_me {
  li {
    display: inline-flex;
    vertical-align: middle;
  }

  a {
    font-size: 24px;
    line-height: 0.8;
  }
}

.so_me {
  margin: 0 -10px;

  li {margin: 0 10px}

  a {
    color: $cl;
    @include hover {color: #fff}
  }
}

.shrs {
  &.is_vertical {
    @include rwd-min(1025) {
      position: absolute;
      top: 3px;
      left: -40px;
      width: 24px;
      text-align: center;

      li {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    @include rwd-max(1024) {margin-bottom: 22px}
  }

  &_wrap {position: relative}

  &_holder {@include justify-content(flex-start)}

  li {margin-right: 20px}

  a {
    color: $cl;
    @include hover {color: $tx}
  }
}


// ajax load_more
.load_more_holder {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 1;
}
.loader_holder {
  height: 48px; // should be as .load_more button height
  position: relative;
  z-index: 0;
  pointer-events: none;
}